* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

*:focus-visible {
  outline: 2px dashed #e51a4b;
  outline-offset: 5px;
}

a {
  text-decoration: none;
  color: #e51a4b;
}

.paragraph {
  font: 400 1.6rem/130% "Montserrat", sans-serif;
}
.paragraph + .paragraph {
  margin-top: 20px;
}

ul {
  margin: 20px 0;
  -webkit-padding-start: 25px;
          padding-inline-start: 25px;
}
ul li {
  font: 400 1.6rem/130% "Montserrat", sans-serif;
}

ol {
  margin: 20px 0;
  -webkit-padding-start: 25px;
          padding-inline-start: 25px;
}
ol li {
  font: 400 1.6rem/130% "Montserrat", sans-serif;
}

.heading-one {
  font: 600 4.8rem/115% "Montserrat", sans-serif;
}

.heading-two {
  font: 600 3rem/120% "Montserrat", sans-serif;
}

.heading-three {
  font: 700 2.6rem/120% "Montserrat", sans-serif;
  text-transform: uppercase;
}

.heading-four {
  font: 600 2.3rem/120% "Montserrat", sans-serif;
}

.heading-five {
  font: 600 2rem/120% "Montserrat", sans-serif;
}

.heading-six {
  font: 700 1.7rem/130% "Montserrat", sans-serif;
}

.paragraph-big {
  font: 400 1.8rem/130% "Montserrat", sans-serif;
}
.paragraph-big + .paragraph-big {
  margin-top: 20px;
}

.heading-one + .paragraph,
.heading-two + .paragraph,
.heading-three + .paragraph,
.heading-four + .paragraph,
.heading-five + .paragraph,
.heading-six + .paragraph {
  margin-top: 20px;
}

.paragraph + .heading-one, .paragraph + .heading-two, .paragraph + .heading-three, .paragraph + .heading-four, .paragraph + .heading-five, .paragraph + .heading-six {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .heading-one {
    font: 600 3.6rem/115% "Montserrat", sans-serif;
  }
  .heading-two {
    font: 600 2.6rem/120% "Montserrat", sans-serif;
  }
  .heading-three {
    font: 700 2.2rem/120% "Montserrat", sans-serif;
    text-transform: uppercase;
  }
  .heading-four {
    font: 600 2rem/120% "Montserrat", sans-serif;
  }
  .heading-five {
    font: 600 1.8rem/120% "Montserrat", sans-serif;
  }
  .heading-six {
    font: 700 1.6rem/130% "Montserrat", sans-serif;
  }
  .paragraph-big {
    font: 400 1.8rem/130% "Montserrat", sans-serif;
  }
  .paragraph-big + .paragraph-big {
    margin-top: 20px;
  }
  .paragraph {
    font: 400 1.6rem/130% "Montserrat", sans-serif;
  }
  .paragraph + .paragraph {
    margin-top: 20px;
  }
}
.slider__bullets {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-basis: 112px;
      -ms-flex-preferred-size: 112px;
          flex-basis: 112px;
  margin-top: 55px;
}
.slider__bullets .slider-control__bullets {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider__body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.slider__top {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  position: relative;
}
.slider__top .btn__play {
  grid-column: -3/-1;
  justify-self: end;
}

.slider__progress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: 1/12;
}

.progress__line {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16px;
  width: 100%;
  margin: 0 20px;
  background-image: url(../img/dashed-line-hor.svg);
  background-repeat: repeat-x;
  background-position: center left;
  z-index: -1;
}
.progress__line::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #465763;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
.progress__line::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #465763;
  right: 0;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  z-index: -1;
}

.progress__dot {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #e51a4b;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.progress__left,
.progress__right {
  font: 700 1.7rem "Montserrat", sans-serif;
  white-space: nowrap;
}

.slide {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide__bg {
  z-index: -1;
  position: absolute;
  left: 50%;
}
.slide__bg.active-1 {
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}
.slide__bg.active-2 {
  bottom: -100px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.slide__bg.active-3 {
  bottom: -150px;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.slide-bg__img {
  display: none;
  overflow: initial;
  position: relative;
}
.slide-bg__img.active {
  display: block;
}

.slide__grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  width: 100%;
}

.slide-grid__left {
  grid-column: 1/5;
  align-self: center;
  justify-self: start;
}

.slide-grid__center {
  grid-column: 5/7;
  align-self: center;
  justify-self: center;
}

.slide-grid__right {
  grid-column: 8/12;
  align-self: center;
  justify-self: end;
}

.slide__arrow {
  grid-column: 1;
  grid-row: 2;
  margin-top: 40px;
}
.slide__arrow img {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slide__arrow:hover img {
  -webkit-transform: translateX(15px);
      -ms-transform: translateX(15px);
          transform: translateX(15px);
}

.arrow__img {
  display: block;
}

.slide__name {
  font: 600 6rem/100% "Montserrat", sans-serif;
}

.slide__icon {
  width: 220px;
}

.slide-info__text {
  font: 600 3rem/100% "Montserrat", sans-serif;
}

.slide-info__accent {
  font: 700 13rem/100% "Montserrat", sans-serif;
}

.slider__control {
  position: relative;
}

.slider-control__arrows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 56px;
  background: #dce3ea;
}

.slider-control__prev,
.slider-control__next {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 24px;
  background: transparent;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  border: none;
  cursor: pointer;
}
.slider-control__prev:hover,
.slider-control__next:hover {
  background: #b9c9d4;
}
.slider-control__prev:disabled,
.slider-control__next:disabled {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.2;
  pointer-events: none;
}

.slider-control__prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider-control__bullets {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}

.slider-control__bullet {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.slider-control__bullet::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #9bacb8;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.slider-control__bullet:hover:before {
  background: #e51a4b;
}
.slider-control__bullet.-active {
  cursor: default;
}
.slider-control__bullet.-active::before {
  background: #e51a4b;
}

.gallery__inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 90px 60px 40px;
}
.gallery__inner .heading-three {
  margin-left: 0;
  grid-column: 2/7;
  grid-row: 1;
  margin-bottom: 60px;
}
.gallery__inner .splide__track {
  grid-column: span 12;
  grid-row: 2;
}
.gallery__inner .slider-control__arrows {
  margin-top: 40px;
  grid-column: -4/-1;
  grid-row: 3;
}
.gallery__inner .splide__pagination {
  grid-row: 4;
}

.gallery__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.gallery__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 280px;
}

.gallery__img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.gallery__control {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  max-width: 1440px;
}
.gallery__control .slider__control {
  grid-column: -4/-1;
}
.gallery__control .slider__control .slider-control__arrows {
  border: none;
  background: #ced8e0;
}

.history__inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 90px 60px 40px;
}
.history__inner .heading-three {
  margin-left: 0;
  grid-column: 2/7;
  grid-row: 1;
  margin-bottom: 60px;
}
.history__inner .splide__track {
  grid-column: span 12;
  grid-row: 2;
  overflow: initial;
  max-width: 100%;
}
.history__inner .slider-control__arrows {
  margin-top: 40px;
  grid-column: -4/-1;
  grid-row: 3;
}
.history__inner .splide__pagination {
  grid-row: 4;
}

.history__inner::after {
  content: "";
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: -24px;
  background-image: url(../img/dashed-line-hor.svg);
  background-repeat: repeat-x;
  background-position: center left;
}

.history__timeline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: -24px;
  background-image: url(../img/dashed-line-hor.svg);
  background-repeat: repeat-x;
  background-position: center left;
}
.history__timeline:before {
  content: "";
  width: 0;
  height: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #828282;
  -webkit-transition: all 0.3s ease 0.3s;
  -o-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}
.history__timeline:after {
  content: "";
  height: 2px;
  width: 100%;
  background: #e51a4b;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.history__item.is-active .history__timeline:after,
.history__item.is-active ~ .history__item .history__timeline:after {
  width: 0;
}
.history__item.is-active .history__timeline:before,
.history__item.is-active ~ .history__item .history__timeline:before {
  content: "";
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #828282;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.history__item.is-active .history__timeline:before {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  background: #e51a4b;
}

.history__date {
  min-height: 80px;
}

.date__year {
  font: 600 4.8rem/115% "Montserrat", sans-serif;
  color: #e51a4b;
}

.date__month {
  font: 400 1.8rem/130% "Montserrat", sans-serif;
  color: #698395;
}

.history__info .heading-five {
  margin-bottom: 15px;
}

.splide__pagination {
  grid-column: -4/-1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

.splide__pagination__page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  background: none;
}
.splide__pagination__page::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #9bacb8;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.splide__pagination__page:hover:before {
  background: #e51a4b;
}
.splide__pagination__page.is-active {
  cursor: default;
}
.splide__pagination__page.is-active::before {
  background: #e51a4b;
}

@media screen and (max-width: 1400px) {
  .slide__name {
    font-size: 5.4rem;
  }
}
@media screen and (max-width: 1250px) {
  .history__inner,
.gallery__inner {
    padding: 50px 20px 20px;
  }
  .history__inner .heading-three,
.gallery__inner .heading-three {
    grid-column: 2/13;
  }
  .history__inner .slider-control__arrows, .history__inner .splide__pagination,
.gallery__inner .slider-control__arrows,
.gallery__inner .splide__pagination {
    grid-column: -6/-1;
    justify-self: end;
    min-width: 312px;
    width: auto;
  }
  .slide__name {
    font-size: 4rem;
  }
  .slide-info__accent {
    font-size: 10rem;
  }
  .slide__arrow {
    grid-column: 1/12;
  }
}
@media screen and (max-width: 1000px) {
  .slide__name {
    font-size: 2.5rem;
  }
  .slide-info__text {
    font-size: 2.5rem;
  }
  .slide-info__accent {
    font-size: 6rem;
  }
  .slide__icon {
    width: 160px;
  }
}
@media screen and (max-width: 767px) {
  .slide__bg {
    display: none;
  }
  .slider__bullets {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
  }
  .slider__bullets .slider-control__bullets {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .slide__grid {
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .slide__grid .slide-grid__left {
    align-self: auto;
    justify-self: auto;
    grid-column: span 4;
    grid-row: 2;
  }
  .slide__grid .slide-grid__right {
    align-self: auto;
    justify-self: auto;
    grid-column: span 4;
    grid-row: 3;
    margin-top: 20px;
  }
  .slide__grid .slide-grid__center {
    justify-self: center;
    grid-column: 2/4;
    grid-row: 1;
  }
  .slide__grid .slide__arrow {
    grid-column: span 4;
    grid-row: 4;
    align-self: end;
  }
  .slide__icon {
    width: 110px;
  }
  .slide__name {
    margin-top: 15px;
    font: 600 3.8rem/100% "Montserrat", sans-serif;
  }
  .slide-info__text {
    font: 500 2.4rem/100% "Montserrat", sans-serif;
  }
  .slide-info__accent {
    font: 700 9rem/100% "Montserrat", sans-serif;
  }
  .gallery__inner {
    padding: 50px 20px 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  .gallery__inner .heading-three {
    grid-column: span 4;
    margin-bottom: 50px;
  }
  .gallery__inner .splide__track {
    width: 100%;
    grid-column: span 4;
    overflow: hidden;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .gallery__inner .slider-control__arrows {
    grid-column: span 4;
    margin-top: 50px;
    min-width: 312px;
    justify-self: center;
  }
  .gallery__inner .splide__pagination {
    grid-column: span 4;
    justify-self: center;
    width: 100%;
  }
  .history__inner {
    padding: 50px 20px 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  .history__inner .heading-three {
    grid-column: span 4;
    margin-bottom: 50px;
  }
  .history__inner .splide__track {
    grid-column: span 4;
    overflow: hidden;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: initial;
  }
  .history__inner .slider-control__arrows {
    grid-column: span 4;
    margin-top: 50px;
    min-width: 312px;
    justify-self: center;
  }
  .history__inner .splide__pagination {
    grid-column: span 4;
    justify-self: center;
    width: 100%;
  }
  .history__timeline {
    margin-right: -40px;
  }
}
.btn__play,
.btn__arrow {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 55px;
  font: 600 1.4rem "Montserrat", sans-serif;
  color: #e51a4b;
  border: none;
  -webkit-transition: color 0.3s ease, background 0.3s ease;
  -o-transition: color 0.3s ease, background 0.3s ease;
  transition: color 0.3s ease, background 0.3s ease;
  background-color: transparent;
  white-space: nowrap;
  cursor: pointer;
  background-image: -o-repeating-linear-gradient(bottom, #828282, #828282 2px, transparent 2px, transparent 4px, #828282 4px), -o-repeating-linear-gradient(left, #828282, #828282 2px, transparent 2px, transparent 4px, #828282 4px), -o-repeating-linear-gradient(top, #828282, #828282 2px, transparent 2px, transparent 4px, #828282 4px), -o-repeating-linear-gradient(right, #828282, #828282 2px, transparent 2px, transparent 4px, #828282 4px);
  background-image: repeating-linear-gradient(0deg, #828282, #828282 2px, transparent 2px, transparent 4px, #828282 4px), repeating-linear-gradient(90deg, #828282, #828282 2px, transparent 2px, transparent 4px, #828282 4px), repeating-linear-gradient(180deg, #828282, #828282 2px, transparent 2px, transparent 4px, #828282 4px), repeating-linear-gradient(270deg, #828282, #828282 2px, transparent 2px, transparent 4px, #828282 4px);
  background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}
.btn__play:hover, .btn__play:focus,
.btn__arrow:hover,
.btn__arrow:focus {
  background-color: #e51a4b;
  background-image: none;
  color: #fff;
}
.btn__play:hover .arrow__icon path, .btn__play:focus .arrow__icon path,
.btn__arrow:hover .arrow__icon path,
.btn__arrow:focus .arrow__icon path {
  fill: #fff;
}

.btn__play {
  padding: 0 10px 0 30px;
}

.btn__arrow {
  padding: 0 17px 0 30px;
}

.play__icon {
  margin-left: 15px;
}

.arrow__icon {
  margin-left: 13px;
}
.arrow__icon path {
  fill: #e51a4b;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.header-mob__btn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.header-mob__btn::before {
  content: "";
  width: 24px;
  height: 2px;
  background: #e51a4b;
  margin-bottom: 6px;
}
.header-mob__btn::after {
  content: "";
  width: 24px;
  height: 2px;
  background: #e51a4b;
}
.header-mob__btn.-active::before {
  -webkit-transform: rotate(45deg) translate3d(1px, 3px, 0px);
          transform: rotate(45deg) translate3d(1px, 3px, 0px);
}
.header-mob__btn.-active::after {
  -webkit-transform: rotate(-45deg) translate3d(2px, -4px, 0px);
          transform: rotate(-45deg) translate3d(2px, -4px, 0px);
}

.tabs-section {
  position: relative;
}

.tabs__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  max-width: 1440px;
  margin: -56px auto 0;
  padding: 0 60px;
  overflow-x: auto;
}

.tabs {
  grid-column: 2/13;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tabs__prev,
.tabs__next {
  display: none;
  border: none;
}

.tabs__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 35px;
  height: 56px;
  font: 600 2rem/120% "Montserrat", sans-serif;
  background: #b9c9d4;
  color: #000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  white-space: nowrap;
}
.tabs__item + .tabs__item {
  margin-left: 2px;
}
.tabs__item:hover, .tabs__item.-active {
  background: #e51a4b;
  color: #fff;
}

.panels__wrapper {
  position: relative;
  background: #e3e9ee;
  border-top: 4px solid #e51a4b;
  overflow: hidden;
}

.panels {
  padding: 64px 0 87px;
}

.panel {
  display: none;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  max-width: 1440px;
  padding: 0 60px;
  margin: 0 auto;
}
.panel .panel__text {
  grid-column: 2/8;
}
.panel .panel__text .heading-four {
  margin-bottom: 30px;
}
.panel .panel__text ul {
  margin: 20px 0;
  -webkit-padding-start: 25px;
          padding-inline-start: 25px;
}
.panel .panel__text ul li {
  font: 400 1.6rem/130% "Montserrat", sans-serif;
}
.panel .panel-properties {
  grid-column: 8/13;
}
.panel.-active {
  display: grid;
}

.panel-property {
  margin-bottom: 38px;
}

.panel-property__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel-property__body {
  margin-left: 112px;
}
.panel-property__body + .panel-property__body {
  margin-top: 20px;
}

.panel-property__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background: #9bacb8;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font: 600 3rem "Montserrat", sans-serif;
  color: #fff;
  margin-left: 48px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.panel-property__name {
  font: 700 1.7rem/130% "Montserrat", sans-serif;
  color: #698395;
  margin-left: 24px;
}

@media screen and (max-width: 767px) {
  .tabs__grid {
    grid-template-columns: 55px auto 55px;
    -webkit-column-gap: 2px;
       -moz-column-gap: 2px;
            column-gap: 2px;
    padding: 0;
  }
  .tabs__grid .tabs__prev {
    grid-column: 1;
  }
  .tabs__grid .tabs__next {
    grid-column: 3;
  }
  .tabs__grid .tabs {
    grid-column: 2;
  }
  .tabs__grid .tabs__item {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .tabs__item {
    display: none;
    cursor: default;
  }
  .tabs__item + .tabs__item {
    margin-left: 0;
  }
  .tabs__item.-active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .tabs__prev,
.tabs__next {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #b9c9d4;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  .tabs__prev .tabs__arrow,
.tabs__next .tabs__arrow {
    width: 36px;
  }
  .tabs__prev.-disabled,
.tabs__next.-disabled {
    pointer-events: none;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    opacity: 0.6;
  }
  .tabs__prev .tabs__arrow {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .panels__wrapper {
    padding: 45px 20px 75px;
  }
  .panels {
    padding: 0;
  }
  .panel {
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .panel .panel__text {
    grid-column: span 4;
    grid-row: 1;
  }
  .panel .panel-properties {
    grid-column: span 4;
    grid-row: 2;
    margin-top: 60px;
  }
  .panel-property {
    margin-bottom: 0;
  }
  .panel-property + .panel-property {
    margin-top: 50px;
  }
  .panel-property__icon {
    margin-left: 0;
  }
  .panel-property__body {
    margin-left: 64px;
  }
}
.form-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #b9c9d4;
  min-height: 640px;
  overflow: hidden;
}

.form__background {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  background-image: url("../img/form-bg.jpg");
  background-position: center bottom;
  background-size: cover;
}

.form {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 20px;
  grid-auto-flow: row;
  max-width: 720px;
  padding: 50px 60px 50px 0;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}
.form .form__name, .form .form-input__block, .form .btn__arrow {
  grid-column: 2/6;
}
.form .btn__arrow {
  justify-self: start;
}
.form .btn__arrow input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  opacity: 0;
  cursor: pointer;
}
.form .heading-five {
  grid-column: 2/6;
}

.form__name {
  font: 600 2rem/120% "Montserrat", sans-serif;
}

.form-input__block {
  position: relative;
}

.form-input__label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 23px;
  font: 400 1.6rem/130% "Montserrat", sans-serif;
  color: #4f4f4f;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form__input,
.form__textarea {
  font: 400 1.6rem/130% "Montserrat", sans-serif;
  width: 100%;
  padding-left: 20px;
  padding-top: 18px;
  border: 2px solid transparent;
}
.form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
  opacity: 0;
}
.form__input::-moz-placeholder, .form__textarea::-moz-placeholder {
  opacity: 0;
}
.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  opacity: 0;
}
.form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
  opacity: 0;
}
.form__input::placeholder,
.form__textarea::placeholder {
  opacity: 0;
}
.form__input:focus-visible,
.form__textarea:focus-visible {
  outline: none;
}
.form__input:not(:-moz-placeholder-shown) ~ .form-input__label, .form__textarea:not(:-moz-placeholder-shown) ~ .form-input__label {
  font: 400 1.3rem/110% "Montserrat", sans-serif;
  top: 4px;
}
.form__input:not(:-ms-input-placeholder) ~ .form-input__label, .form__textarea:not(:-ms-input-placeholder) ~ .form-input__label {
  font: 400 1.3rem/110% "Montserrat", sans-serif;
  top: 4px;
}
.form__input:focus ~ .form-input__label, .form__input:not(:placeholder-shown) ~ .form-input__label,
.form__textarea:focus ~ .form-input__label,
.form__textarea:not(:placeholder-shown) ~ .form-input__label {
  font: 400 1.3rem/110% "Montserrat", sans-serif;
  top: 4px;
}
.form__input.-error,
.form__textarea.-error {
  border-color: #e51a4b;
}

.form__input {
  height: 50px;
}

.form__textarea {
  padding-top: 22px;
}

.form__arrow {
  margin-left: 20px;
  vertical-align: middle;
}

.error-message {
  position: absolute;
  bottom: -15px;
  color: #e51a4b;
  font-size: 1.2rem;
}

@media screen and (max-width: 1250px) {
  .form {
    padding: 50px 0;
  }
}
@media screen and (max-width: 767px) {
  .form__background {
    display: none;
  }
  .form {
    padding: 50px 20px 40px;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .form .form__name {
    grid-column: span 4;
  }
  .form .form-input__block {
    grid-column: span 4;
  }
  .form .btn__arrow {
    grid-column: span 4;
  }
  .form .heading-five {
    grid-column: span 4;
  }
}
.-mob-menu {
  overflow: hidden;
}

.mob-menu {
  display: none;
}

.-mob-menu .mob-menu {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
  background: #fff;
  overflow-y: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.mob-menu__nav {
  position: relative;
  overflow: hidden;
  height: auto;
}

.mob-nav__item {
  border-top: 1px solid #fff;
  background: #b9c9d4;
  min-height: 60px;
  overflow: hidden;
}
.mob-nav__item.-back {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: none;
  width: 100%;
  background: #fff;
  padding-left: 20px;
}
.mob-nav__item.-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #e51a4b;
  padding-left: 20px;
  font: 700 1.8rem/2.2rem "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.mob-nav__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border: none;
  background: none;
  padding: 19px 20px;
  font: 700 1.8rem/2.2rem "Montserrat", sans-serif;
  color: #000;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.mob-nav__link.-active ~ .mob-menu__subnav {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.mob-nav__link.-active ~ .subnav__list {
  height: auto;
}

.mob-menu__subnav {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  overflow: hidden;
}
.mob-menu__subnav .mob-nav__link {
  position: relative;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font: 600 1.8rem/120% "Montserrat", sans-serif;
  text-transform: none;
}
.mob-menu__subnav .mob-subnav__circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: transparent;
  border: 2px solid #e51a4b;
  margin-right: 15px;
}
.mob-menu__subnav .mob-subnav__circle::after {
  content: "";
  background: #e51a4b;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
  transition: background 0.4s ease;
}

.subnav__list {
  height: 0;
  padding-left: 55px;
  margin: 0;
  list-style-position: inside;
}

.subnav-list__item:last-of-type {
  padding-bottom: 10px;
}

.subnav-list__link {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 4rem;
  font: 600 1.6rem "Montserrat", sans-serif;
  color: #000;
  padding: 10px 0;
}

.mob-menu__info {
  padding: 40px 20px;
  border-bottom: 1px solid #b9c9d4;
}

.mob-info__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.mob-info__item + .mob-info__item {
  margin-top: 30px;
}

.info-item__name {
  font: 500 1.4rem/1.7rem "Montserrat", sans-serif;
  min-width: 120px;
}

.info-item__phone,
.info-item__hours {
  font: 700 1.8rem/2.2rem "Montserrat", sans-serif;
  color: #000;
}

.mob-menu__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
}
.mob-menu__buttons .header__profile {
  grid-column: span 1;
}
.mob-menu__buttons .btn__play {
  grid-column: span 3;
  justify-self: end;
}

.header__submenu {
  display: none;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  background: #b9c9d4;
  z-index: 1;
}
.header__submenu:hover {
  display: block;
}

.header-menu__link:hover + .header__submenu {
  display: block;
}

.header-submenu__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  min-height: 100px;
  border-top: 1px solid #fff;
  padding: 35px 0;
}
.header-submenu__wrapper:first-of-type {
  border-top-width: 2px;
}
.header-submenu__wrapper:hover {
  background: #e51a4b;
}
.header-submenu__wrapper:hover .heading-five {
  color: #fff;
}
.header-submenu__wrapper:hover .submenu-link__circle {
  border-color: #fff;
}
.header-submenu__wrapper:hover .submenu-link__circle::after {
  background: #fff;
}
.header-submenu__wrapper:hover .subitem__link {
  color: #fff;
}
.header-submenu__wrapper:hover .subitem__link::before {
  background-color: #fff;
}
.header-submenu__wrapper:hover .subitem__link:hover::before {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='16' fill='none'%3E%3Cpath fill='%23fff' d='M36.707 8.707a1 1 0 000-1.414L30.343.929a1 1 0 10-1.414 1.414L34.586 8l-5.657 5.657a1 1 0 001.414 1.414l6.364-6.364zM0 9h36V7H0v2z'/%3E%3C/svg%3E");
  width: 37px;
  height: 16px;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-transform: translateX(-webkit-calc(-100% + 3px));
      -ms-transform: translateX(calc(-100% + 3px));
          transform: translateX(calc(-100% + 3px));
}

.header-submenu__link {
  grid-column: 4/8;
}
.header-submenu__link .heading-five {
  color: #000;
}

.submenu-link__circle {
  margin-top: -3px;
  grid-column: 3/4;
  justify-self: end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: transparent;
  border: 2px solid #e51a4b;
}
.submenu-link__circle::after {
  content: "";
  background: #e51a4b;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.header-link__subitems {
  grid-column: 8/11;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subitem__link {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font: 600 1.6rem "Montserrat", sans-serif;
  color: #000;
  margin-left: 25px;
}
.subitem__link + .subitem__link {
  margin-top: 10px;
}
.subitem__link::before {
  position: absolute;
  left: -13px;
  content: "";
  width: 3px;
  height: 3px;
  background: #000;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 10px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background: #b9c9d4;
  z-index: 1;
}

.header__inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: start;
  max-width: 1440px;
  height: 100%;
  width: 100%;
  padding: 0 60px;
}

.header__logo {
  max-width: 200px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.logo__img {
  display: block;
  margin: auto;
}

.logo__text {
  margin-top: 10px;
  color: #465763;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
}

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  grid-column-start: 4;
  grid-column-end: 9;
}

.header-menu__link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin-left: 30px;
}
.header-menu__link:first-of-type {
  margin-left: 0;
}
.header-menu__link.-active .header-link__text {
  color: #e51a4b;
}
.header-menu__link:hover .header-link__text::before, .header-menu__link.hovered .header-link__text::before {
  opacity: 1;
}

.header-link__text {
  position: relative;
  font: 700 1.4rem/1.7rem "Montserrat", sans-serif;
  color: #000;
  text-transform: uppercase;
  padding: 4px 0;
}
.header-link__text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/dashed-border.svg);
  background-repeat: repeat-x;
  background-position: bottom left;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.header__info {
  grid-column-start: 9;
  grid-column-end: 12;
}

.info__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.info__block + .info__block {
  margin-top: 10px;
}

.info__name {
  font: 600 1.2rem "Montserrat", sans-serif;
  min-width: 100px;
}

.info__content,
.info__content a {
  font: 700 1.4rem "Montserrat", sans-serif;
  color: #000;
}

.info__content {
  margin-left: 10px;
}

.header__profile {
  justify-self: center;
  grid-column-start: 12;
  grid-column-end: 13;
}
.header__profile svg {
  fill: transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__profile svg path {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__profile svg:hover {
  fill: #e51a4b;
}
.header__profile svg:hover path {
  fill: #fff;
}
.header__profile svg:hover circle {
  stroke-dasharray: 0;
  stroke: #e51a4b;
}

.header__mob {
  display: none;
}

@media screen and (max-width: 767px), screen and (hover: none) {
  .header {
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .header__mob {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 20px;
    width: 100%;
  }
  .header__mob .header-mob__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__mob .logo__img {
    height: 30px;
  }
  .header__mob .logo__text {
    margin-top: 0;
    margin-left: 16px;
  }
  .header__inner {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  .header__logo {
    grid-column-end: 4;
  }
  .header__menu {
    grid-column-start: 4;
    grid-column-end: 9;
  }
  .header-menu__link {
    margin-left: 15px;
  }
  .header__info {
    grid-column-start: 9;
  }
}
@media screen and (max-width: 1250px) {
  .header__inner {
    padding: 0 20px;
  }
  .header__info {
    display: none;
  }
  .header__logo {
    grid-column: 1/4;
  }
  .header__menu {
    grid-column: 4/12;
  }
}
.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
}

.footer__inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  max-width: 1440px;
  height: 100%;
  width: 100%;
  padding: 100px 60px 24px;
}

.footer__office {
  grid-column: 1/4;
  grid-row: 1;
}

.footer__menu {
  grid-column: 4/7;
  grid-row: 1;
}

.footer__info {
  grid-column: 7/10;
  grid-row: 1;
}

.footer__buttons {
  grid-column: 11/13;
  grid-row: 1;
  justify-self: end;
}

.to-top__block {
  grid-column: -2;
  grid-row: 2;
  justify-self: center;
}

.footer__copyright {
  grid-column: 1/10;
  grid-row: 3;
}

.footer__logo {
  display: block;
  width: 161px;
  margin-bottom: 40px;
}

.main-address {
  font: 700 1.7rem/130% "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.show-map {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font: 600 1.6rem/110% "Montserrat", sans-serif;
  padding-bottom: 5px;
}
.show-map::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/dashed-border.svg);
  background-repeat: repeat-x;
  background-position: bottom left;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.show-map.-active::before, .show-map:hover::before {
  opacity: 1;
}

.map-pointer {
  margin-left: 5px;
}

.footer__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
}

.footer-menu__link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font: 700 1.4rem/1.7rem "Montserrat", sans-serif;
  letter-spacing: 0.03em;
  color: #000;
  text-transform: uppercase;
  padding: 4px 0;
}
.footer-menu__link + .footer-menu__link {
  margin-top: 12px;
}
.footer-menu__link::before {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  content: "";
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #e51a4b;
  margin-right: 15px;
}
.footer-menu__link::after {
  content: "";
  position: absolute;
  left: 23px;
  bottom: 0;
  right: 0;
  height: 100%;
  background-image: url(../img/dashed-border.svg);
  background-repeat: repeat-x;
  background-position: bottom left;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.footer-menu__link.-active::after, .footer-menu__link:hover::after {
  opacity: 1;
}

.footer__info {
  padding-top: 30px;
}

.footer-info__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer-info__item + .footer-info__item {
  margin-top: 15px;
}

.footer-info__name {
  font: 400 1.6rem/2rem "Montserrat", sans-serif;
}

.footer-info__phone,
.footer-info__time {
  font: 700 1.6rem/2rem "Montserrat", sans-serif;
  margin-top: 8px;
  color: #000;
}

.footer-info__email {
  position: relative;
  font: 400 1.6rem/2rem "Montserrat", sans-serif;
  color: #e51a4b;
  margin-top: 8px;
  padding-bottom: 4px;
}
.footer-info__email::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/dashed-border.svg);
  background-repeat: repeat-x;
  background-position: bottom left;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.footer-info__email.-active::before, .footer-info__email:hover::before {
  opacity: 1;
}

.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  text-align: center;
}

.social__link + .social__link {
  margin-left: 18px;
}
.social__link:hover .social__circle, .social__link:focus .social__circle {
  fill: #e51a4b;
}

.social__circle {
  fill: #000;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.to-top__block {
  text-align: right;
}

.footer__copyright {
  font: 400 1.4rem/130% "Montserrat", sans-serif;
  color: #698395;
}

@media screen and (max-width: 767px) {
  .footer__inner {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    padding: 60px 20px 15px;
  }
  .footer__inner .footer__office {
    grid-column: span 4;
  }
  .footer__inner .footer__menu {
    grid-column: span 4;
    grid-row: 2;
  }
  .footer__inner .footer__info {
    grid-column: span 4;
    grid-row: 3;
  }
  .footer__inner .footer__buttons {
    grid-column: span 4;
    grid-row: 4;
  }
  .footer__inner .to-top__block {
    grid-column: span 4;
    grid-row: 5;
  }
  .footer__inner .footer__copyright {
    grid-column: span 4;
    grid-row: 6;
  }
  .footer__logo {
    margin-bottom: 40px;
  }
  .main-address {
    font: 700 1.6rem/130% "Montserrat", sans-serif;
  }
  .footer__menu {
    margin-top: 60px;
  }
  .footer-menu__link {
    font: 700 1.4rem/1.7rem "Montserrat", sans-serif;
    letter-spacing: 0.03rem;
    width: 100%;
    padding: 10px 0;
  }
  .footer-menu__link + .footer-menu__link {
    margin-top: 0;
  }
  .footer-menu__link::after {
    display: none;
  }
  .footer__info {
    padding-top: 60px;
  }
  .footer__buttons {
    margin-top: 70px;
    justify-self: center;
  }
  .to-top__block {
    width: 100%;
    justify-self: end;
  }
  .to-top {
    display: block;
  }
}
@media (min-width: 767px) and (max-width: 1250px) {
  .footer__inner {
    padding: 60px 20px 20px;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .footer__office {
    grid-column: span 4;
  }
  .footer__menu {
    grid-column: span 5;
  }
  .footer__info {
    grid-column: span 4;
  }
  .footer__buttons {
    grid-column: span 9;
    grid-row: 2;
    justify-self: stretch;
    display: grid;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    grid-template-columns: repeat(9, 1fr);
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .footer__buttons .btn__play {
    grid-column: span 4;
    justify-self: start;
  }
  .footer__buttons .footer__social {
    grid-column: span 5;
    justify-self: start;
  }
  .footer__social {
    margin-top: 0;
  }
}
.hero__slide {
  position: relative;
  min-height: 800px;
  overflow: hidden;
}
.hero__slide:nth-child(odd) {
  background: #b9c9d4;
}
.hero__slide:first-of-type {
  height: 680px;
  min-height: auto;
}
.hero__slide.-map {
  background: #f2f2f2;
}

.hero-slide__inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  position: relative;
  max-width: 1440px;
  height: 100%;
  min-height: inherit;
  margin: 0 auto;
  padding: 80px 60px;
}
.hero-slide__inner.-main-slider {
  grid-template-rows: auto 1fr;
  padding-bottom: 0;
}
.hero-slide__inner.-main-slider .slider__top {
  grid-column: 2/13;
  grid-row: 1;
}
.hero-slide__inner.-main-slider .splide__track {
  grid-column: 2/13;
  grid-row: 2;
  max-width: 100%;
}
.hero-slide__inner.-main-slider .splide__pagination {
  grid-column: span 1;
  grid-row: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-slide__inner.-main-slider .splide__list {
  height: 100%;
}

.hero-slide__inner.-advantages .heading-three {
  grid-column: 2/6;
  grid-row: 1;
  margin-left: 0;
  max-width: initial;
}
.hero-slide__inner.-advantages .splide__track {
  grid-column: span 12;
  grid-row: 2;
  align-self: center;
}
.hero-slide__inner.-advantages .slider-control__arrows {
  display: none;
  background: transparent;
  grid-column: -4/-1;
  grid-row: 3;
}
.hero-slide__inner.-advantages .splide__pagination {
  grid-column: -4/-1;
  grid-row: 4;
}

.advantages__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantage__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 90px;
  margin-bottom: 40px;
  margin-right: 15%;
}

.advantage__name {
  font: 600 2.3rem/120% "Montserrat", sans-serif;
}

.advantage__list {
  margin: 40px 0 0 0;
  padding: 0;
  list-style-position: inside;
}

.advantage-list__item {
  font: 400 1.8rem/130% "Montserrat", sans-serif;
}
.advantage-list__item + .advantage-list__item {
  margin-top: 15px;
}

.advantages__control {
  display: none;
}

.hero-slide__inner.-map {
  grid-template-rows: auto auto 1fr;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-slide__inner.-map .heading-three {
  grid-column: 2/6;
  grid-row: 1;
  margin-left: 0;
  max-width: initial;
}
.hero-slide__inner.-map .map__all {
  grid-column: 7/12;
  grid-row: 2;
}
.hero-slide__inner.-map .map {
  grid-column: 2/8;
  grid-row: 3;
}
.hero-slide__inner.-map .map__belarus {
  grid-column: 8/13;
  grid-row: 3;
  align-self: center;
}

.map__img {
  max-width: 100%;
}

.map-paragraph__small {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font: 600 2rem/120% "Montserrat", sans-serif;
  padding-left: 24px;
}

.map-paragraph__big {
  font: 700 8rem/8rem "Montserrat", sans-serif;
  text-indent: 24px;
}

.map__bullet {
  position: absolute;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  background: #e51a4b;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.hero-slide__inner.-solutions {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-slide__inner.-solutions .heading-three {
  grid-column: 2/13;
  grid-row: 1;
  margin-left: 0;
  max-width: initial;
}
.hero-slide__inner.-solutions .solutions__grid {
  grid-column: span 12;
  grid-row: 2;
}

.solutions__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 70px;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 16px;
  margin-top: 50px;
}

.solutions__item:nth-child(odd) {
  grid-column: 7/12;
  grid-row: span 2;
}

.solutions__item:nth-child(even) {
  grid-column: 2/7;
  grid-row: span 2;
}

.solutions__btn {
  grid-column: -4/-1;
  grid-row: span 2;
  align-self: end;
  justify-self: end;
}

.solutions__item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  -webkit-transition: background 0.4s ease, color 0.4s ease;
  -o-transition: background 0.4s ease, color 0.4s ease;
  transition: background 0.4s ease, color 0.4s ease;
}
.solutions__item:hover, .solutions__item:focus {
  background: #e51a4b;
}
.solutions__item:hover .solution__circle, .solutions__item:focus .solution__circle {
  border-color: #fff;
}
.solutions__item:hover .solution__circle::after, .solutions__item:focus .solution__circle::after {
  background: #fff;
}
.solutions__item:hover .solution__name, .solutions__item:focus .solution__name {
  color: #fff;
}

.solution__circle {
  grid-column: 1/2;
  justify-self: end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38px;
  height: 38px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: transparent;
  border: 2px solid #e51a4b;
  -webkit-transition: border-color 0.4s ease;
  -o-transition: border-color 0.4s ease;
  transition: border-color 0.4s ease;
}
.solution__circle::after {
  content: "";
  background: #e51a4b;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
  transition: background 0.4s ease;
}

.solution__name {
  grid-column: 2/6;
  font: 600 2.3rem/120% "Montserrat", sans-serif;
  color: #000;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.hero__line.-advantages {
  position: absolute;
  left: 100%;
  top: 95px;
  right: 0;
  height: 2px;
  background: url("../img/dashed-line-hor.svg");
}
.hero__line.-advantages::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #e51a4b;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__line.-map {
  position: absolute;
  top: 0;
  bottom: 100%;
  right: 104px;
  width: 2px;
  background: url("../img/dashed-line-ver.svg");
}
.hero__line.-map::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #e51a4b;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.hero__line.-solutions {
  position: absolute;
  left: 0;
  top: 95px;
  width: 0;
  height: 2px;
  background: url(../img/dashed-line-hor.svg);
}
.hero__line.-solutions::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  top: 50%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #e51a4b;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

@media screen and (max-width: 1250px) {
  .hero__slide:first-of-type .hero-slide__inner {
    padding: 33px 20px 0;
  }
  .hero-slide__inner {
    padding: 50px 20px 30px;
  }
  .hero-slide__inner.-main-slider .slider__progress {
    grid-column: 1/8;
  }
  .hero-slide__inner.-advantages .heading-three {
    grid-column: 2/7;
  }
  .hero-slide__inner.-advantages .slider-control__arrows, .hero-slide__inner.-advantages .splide__pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-column: -6/-1;
    justify-self: end;
    min-width: 312px;
    width: auto;
  }
  .hero-slide__inner.-map .heading-three {
    grid-column: 2/7;
    margin-bottom: 40px;
  }
  .hero-slide__inner.-map .map__all {
    grid-column: 2/7;
    grid-row: 2;
  }
  .hero-slide__inner.-map .map__belarus {
    grid-column: 7/12;
    grid-row: 2;
  }
  .hero-slide__inner.-map .map {
    grid-column: 2/12;
  }
  .hero-slide__inner.-map .map-paragraph__big {
    font: 600 5rem/5rem "Montserrat", sans-serif;
  }
  .hero-slide__inner.-solutions .solutions__item:nth-child(odd) {
    grid-column: 7/13;
    grid-row: span 2;
  }
  .hero-slide__inner.-solutions .solutions__item:nth-child(even) {
    grid-column: 1/7;
    grid-row: span 2;
  }
}
@media screen and (max-width: 767px) {
  .hero__slide {
    height: auto;
    min-height: auto;
  }
  .hero__slide:first-of-type {
    min-height: -webkit-calc(100vh - 60px);
    min-height: calc(100vh - 60px);
    height: auto;
  }
  .hero__slide:first-of-type .hero-slide__inner {
    padding: 33px 20px 50px;
  }
  .hero-slide__inner {
    padding: 50px 20px 30px;
  }
  .hero-slide__inner.-main-slider {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto auto;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
  }
  .hero-slide__inner.-main-slider .slider__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-column: span 4;
    grid-row: 3;
    justify-self: center;
    margin-top: 45px;
    margin-bottom: 50px;
  }
  .hero-slide__inner.-main-slider .splide__track {
    grid-column: span 4;
    grid-row: 1;
    overflow: initial;
    align-self: stretch;
  }
  .hero-slide__inner.-main-slider .splide__pagination {
    grid-column: span 4;
    grid-row: 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 45px;
  }
  .hero-slide__inner.-main-slider .slider__progress {
    display: none;
  }
  .hero__line.-advantages {
    display: none;
  }
  .hero__line.-map {
    right: 20px;
  }
  .hero__line.-solutions {
    display: none;
  }
  .hero-slide__inner.-map {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .hero-slide__inner.-map .heading-three {
    grid-column: span 4;
    margin-bottom: 0;
  }
  .hero-slide__inner.-map .map__all {
    grid-column: span 4;
    grid-row: 2;
  }
  .hero-slide__inner.-map .map__belarus {
    grid-column: span 4;
    grid-row: 3;
  }
  .hero-slide__inner.-map .map {
    grid-column: span 4;
    grid-row: 4;
  }
  .hero-slide__inner.-map .map__all {
    margin-top: 70px;
  }
  .hero-slide__inner.-map .map-paragraph__big {
    font: 700 5.6rem/100% "Montserrat", sans-serif;
  }
  .hero-slide__inner.-map .map__belarus {
    margin-top: 90px;
  }
  .hero-slide__inner.-map .map {
    margin-top: 70px;
  }
  .hero-slide__inner.-advantages {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .hero-slide__inner.-advantages .heading-three {
    grid-column: span 4;
  }
  .hero-slide__inner.-advantages .splide__track {
    margin: 60px 0 25px;
    grid-column: span 4;
  }
  .hero-slide__inner.-advantages .splide__arrows {
    grid-column: span 4;
    justify-self: center;
  }
  .hero-slide__inner.-advantages .splide__pagination {
    grid-column: span 4;
    justify-self: center;
  }
  .hero-slide__inner.-solutions {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .hero-slide__inner.-solutions .heading-three {
    grid-column: span 4;
  }
  .hero-slide__inner.-solutions .solutions__grid {
    grid-column: span 4;
    margin-top: 60px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    row-gap: 0;
    justify-items: start;
  }
  .hero-slide__inner.-solutions .solutions__grid .solutions__item {
    grid-column: span 4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .hero-slide__inner.-solutions .solutions__grid .solutions__item .solution__name {
    font-size: 2rem;
  }
  .hero-slide__inner.-solutions .solutions__grid .solutions__item:hover, .hero-slide__inner.-solutions .solutions__grid .solutions__item:focus {
    background: transparent;
  }
  .hero-slide__inner.-solutions .solutions__grid .solutions__item:hover .solution__name, .hero-slide__inner.-solutions .solutions__grid .solutions__item:focus .solution__name {
    color: #000;
  }
  .hero-slide__inner.-solutions .solutions__grid .solutions__item:hover .solution__circle, .hero-slide__inner.-solutions .solutions__grid .solutions__item:focus .solution__circle {
    border-color: #e51a4b;
  }
  .hero-slide__inner.-solutions .solutions__grid .solutions__item:hover .solution__circle::after, .hero-slide__inner.-solutions .solutions__grid .solutions__item:focus .solution__circle::after {
    background: #e51a4b;
  }
  .hero-slide__inner.-solutions .solutions__grid .solutions__item .solution__circle {
    width: 30px;
    height: 30px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .hero-slide__inner.-solutions .solutions__grid .solutions__item .solution__circle::after {
    width: 16px;
    height: 16px;
  }
  .hero-slide__inner.-solutions .solutions__grid .solutions__btn {
    grid-column: 2/5;
    margin-top: 60px;
  }
  .solutions__item + .solutions__item {
    margin-top: 40px;
  }
}
.inner__line.-items {
  position: absolute;
  left: -20px;
  top: 105px;
  height: 2px;
  background: url(../img/dashed-line-hor.svg);
}
.inner__line.-items::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  top: 50%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #e51a4b;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.inner__line.-title {
  position: absolute;
  top: -20px;
  bottom: 100%;
  right: 50%;
  width: 2px;
  background: url("../img/dashed-line-ver.svg");
}
.inner__line.-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #e51a4b;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.title-section {
  position: relative;
  overflow: hidden;
}

.title-section__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 90px 60px 130px;
}
.title-section__grid .heading-one {
  grid-column: 2/8;
}
.title-section__grid .btn__play {
  grid-column: -3/-1;
  justify-self: end;
}

.info-section {
  position: relative;
  background: #e3e9ee;
  overflow: hidden;
}

.info-section__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 30px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 60px 60px;
}
.info-section__grid .heading-two {
  grid-column: 2/7;
  grid-row: 1;
}
.info-section__grid .info-section__left {
  grid-column: 2/7;
  grid-row: 2;
}
.info-section__grid .info-section__right {
  grid-column: 7/12;
  grid-row: 2;
}

.items-section {
  position: relative;
  overflow: hidden;
}

.items-section__bg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.items__bg {
  height: 100%;
}

.items-section__grid {
  display: grid;
  grid: auto repeat(5, 1fr)/repeat(12, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 50px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 90px 60px 140px;
}
.items-section__grid .heading-three {
  grid-column: 2/7;
  grid-row: 1;
  margin-left: 0;
  max-width: none;
}
.items-section__grid.-equipment {
  padding-bottom: 120px;
  grid: auto repeat(6, 1fr)/repeat(12, 1fr);
}
.items-section__grid .item:nth-of-type(3n+1) {
  grid-column: 4/9;
  grid-row: span 1;
}
.items-section__grid .item:nth-of-type(3n+2) {
  grid-column: 6/11;
  grid-row: span 1;
}
.items-section__grid .item:nth-of-type(3n+3) {
  grid-column: 8/13;
  grid-row: span 1;
}
.items-section__grid .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.items-section__grid .item__name {
  font: 600 3rem/120% "Montserrat", sans-serif;
  color: #000;
  margin-left: 18px;
}
.items-section__grid .equipment__item:nth-of-type(3n+1) {
  grid-column: 4/9;
  grid-row: span 1;
}
.items-section__grid .equipment__item:nth-of-type(3n+2) {
  grid-column: 6/11;
  grid-row: span 1;
}
.items-section__grid .equipment__item:nth-of-type(3n+3) {
  grid-column: 8/13;
  grid-row: span 1;
}
.items-section__grid .equipment__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-right: 55px;
}
.items-section__grid .equipment__name {
  font: 600 2rem/120% "Montserrat", sans-serif;
  color: #000;
  margin-left: 18px;
}

.item .item__name {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item:hover .item__name {
  color: #e51a4b;
}

.equipment__item .equipment__name {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.equipment__item:hover .equipment__name {
  color: #e51a4b;
}

.equipment__grid {
  display: grid;
  grid: repeat(6, auto)/repeat(12, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 50px;
}

.equipment__circle {
  position: relative;
  top: 2px;
  justify-self: end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 38px;
  height: 38px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: transparent;
  border: 2px solid #e51a4b;
  -webkit-transition: border-color 0.4s ease;
  -o-transition: border-color 0.4s ease;
  transition: border-color 0.4s ease;
}
.equipment__circle::after {
  content: "";
  background: #e51a4b;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
  transition: background 0.4s ease;
}

@media screen and (max-width: 1250px) {
  .items-section__grid {
    row-gap: 24px;
  }
  .items-section__grid .item__icon {
    max-width: 60px;
  }
  .items-section__grid .item__name {
    font: 600 2rem/100% "Montserrat", sans-serif;
    margin-left: 13px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .items-section__grid .item:nth-of-type(3n+1) {
    grid-column: 3/9;
    grid-row: span 1;
  }
  .items-section__grid .item:nth-of-type(3n+2) {
    grid-column: 5/11;
    grid-row: span 1;
  }
  .items-section__grid .item:nth-of-type(3n+3) {
    grid-column: 7/13;
    grid-row: span 1;
  }
  .items-section__grid.-equipment .equipment__item {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 0;
  }
  .items-section__grid.-equipment .equipment__item:nth-of-type(3n+1) {
    grid-column: 3/9;
    grid-row: span 1;
  }
  .items-section__grid.-equipment .equipment__item:nth-of-type(3n+2) {
    grid-column: 5/11;
    grid-row: span 1;
  }
  .items-section__grid.-equipment .equipment__item:nth-of-type(3n+3) {
    grid-column: 7/13;
    grid-row: span 1;
  }
  .items-section__grid.-equipment .equipment__circle {
    top: 0;
    width: 30px;
    height: 30px;
  }
  .items-section__grid.-equipment .equipment__circle::after {
    width: 15px;
    height: 15px;
  }
}
@media screen and (max-width: 767px) {
  .inner__line.-title {
    display: none;
  }
  .inner__line.-items {
    display: none;
  }
  .title-section__grid {
    padding: 30px 20px 95px;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .title-section__grid .heading-one {
    grid-column: span 4;
    grid-row: 2;
    margin-top: 30px;
  }
  .title-section__grid .btn__play {
    grid-column: span 4;
    grid-row: 1;
  }
  .info-section__grid {
    padding: 50px 20px 77px;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .info-section__grid .heading-two {
    grid-column: span 4;
    grid-row: 1;
  }
  .info-section__grid .info-section__left {
    grid-column: span 4;
    grid-row: 2;
  }
  .info-section__grid .info-section__right {
    grid-column: span 4;
    grid-row: 3;
  }
  .items-section__bg {
    display: none;
  }
  .items-section__inner,
.items-section__inner.-equipment {
    padding: 50px 20px 45px;
  }
  .items-section__inner .heading-three,
.items-section__inner.-equipment .heading-three {
    margin-bottom: 54px;
  }
  .items-section .items-section__grid, .items-section .items-section__grid.-equipment {
    grid-template: auto/repeat(4, 1fr);
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    row-gap: 0;
    padding: 50px 20px 45px;
  }
  .items-section .items-section__grid .heading-three, .items-section .items-section__grid.-equipment .heading-three {
    margin-bottom: 55px;
    grid-column: span 4;
  }
  .items-section .items-section__grid .item, .items-section .items-section__grid.-equipment .item {
    grid-column: span 4;
    grid-row: auto;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .items-section .items-section__grid .item .item__icon, .items-section .items-section__grid.-equipment .item .item__icon {
    max-width: 80px;
  }
  .items-section .items-section__grid .item__name, .items-section .items-section__grid.-equipment .item__name {
    font: 600 2.6rem/120% "Montserrat", sans-serif;
    margin-left: 13px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .items-section .items-section__grid .equipment__item, .items-section .items-section__grid.-equipment .equipment__item {
    grid-column: span 4;
    grid-row: auto;
    padding-right: 0;
  }
  .items-section .items-section__grid .equipment__name, .items-section .items-section__grid.-equipment .equipment__name {
    font: 600 2.6rem/120% "Montserrat", sans-serif;
  }
  .item + .item,
.equipment__item + .equipment__item {
    margin-top: 65px;
  }
}
.about__title {
  position: relative;
  overflow: hidden;
}

.about__bg {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -20px);
      -ms-transform: translate(-50%, -20px);
          transform: translate(-50%, -20px);
  z-index: -1;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 100px;
  max-width: 1440px;
  margin: 90px auto 0;
  padding: 0 60px;
}
.about__grid .heading-one {
  grid-column: 2/7;
}
.about__grid .btn__play {
  grid-column: -3/-1;
  justify-self: end;
}
.about__grid .about__text {
  grid-column: 2/7;
  grid-row: 2;
  align-self: center;
  margin-bottom: 20px;
}
.about__grid .about__text .paragraph {
  margin-top: 30px;
}
.about__grid .about__logo {
  grid-column: 7/13;
  grid-row: 2;
  align-self: end;
}

.about-logo__img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.history {
  position: relative;
  overflow: hidden;
}

.gallery {
  background: #e3e9ee;
  overflow: hidden;
}
.gallery .splide__track {
  overflow: initial;
}

@media screen and (max-width: 767px) {
  .about__bg {
    display: none;
  }
  .about__grid {
    padding: 30px 20px 75px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    row-gap: 0;
  }
  .about__grid .btn__play {
    grid-column: span 4;
    grid-row: 1;
    margin-top: 0;
  }
  .about__grid .heading-one {
    grid-column: span 4;
    grid-row: 2;
    margin-top: 30px;
  }
  .about__grid .about__logo {
    grid-column: span 4;
    grid-row: 3;
    margin: 50px 0;
    justify-self: center;
  }
  .about__grid .about__logo .about-logo__img {
    max-width: 400px;
  }
  .about__grid .about__text {
    grid-column: span 4;
    grid-row: 4;
  }
  .about__grid .about__text .paragraph {
    margin-top: 30px;
  }
}
.solutions__top {
  position: relative;
  overflow: hidden;
}

.solutions-top__bg {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.solutions__title {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  max-width: 1440px;
  padding: 54px 60px;
  margin: 0 auto;
}
.solutions__title .heading-one {
  grid-column: 2/7;
  margin-top: 36px;
}
.solutions__title .solutions-title__icon {
  width: 220px;
  grid-column: 8/10;
}
.solutions__title .btn__play {
  grid-column: 11/13;
  justify-self: end;
  margin-top: 28px;
}

.solutions__info {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 30px;
  max-width: 1440px;
  margin: 0 auto 72px;
  padding: 0 60px;
  overflow: hidden;
}
.solutions__info .heading-two {
  grid-column: 2/7;
  grid-row: 1;
}
.solutions__info .solutions-info__left {
  grid-column: 2/7;
  grid-row: 2;
  margin-right: 30px;
}
.solutions__info .solutions-info__right {
  grid-column: 7/12;
  grid-row: 2;
}

.solution__points {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 20px;
  max-width: 1440px;
  padding: 0 60px 128px;
  margin: 0 auto;
}
.solution__points .heading-two {
  grid-column: 2/7;
  grid-row: 1;
  margin-bottom: 13px;
}
.solution__points .solution-point:nth-of-type(6n+1) {
  grid-column: 2/6;
  grid-row: span 1;
}
.solution__points .solution-point:nth-of-type(6n+2) {
  grid-column: 6/10;
  grid-row: span 1;
}
.solution__points .solution-point:nth-of-type(6n+3) {
  grid-column: 4/8;
  grid-row: span 1;
}
.solution__points .solution-point:nth-of-type(6n+4) {
  grid-column: 8/12;
  grid-row: span 1;
}
.solution__points .solution-point:nth-of-type(6n+5) {
  grid-column: 2/7;
  grid-row: span 1;
}
.solution__points .solution-point:nth-of-type(6n+6) {
  grid-column: 7/12;
  grid-row: span 1;
}

.solution-point {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 2px solid #e51a4b;
  min-height: 120px;
  padding: 10px 50px;
}

.results {
  position: relative;
}

.results__inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 60px 180px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  overflow: hidden;
}
.results__inner .heading-three {
  grid-column: 2/13;
  margin-bottom: 90px;
}
.results__inner .results__item:nth-of-type(4n+1) {
  grid-column: span 3;
}
.results__inner .results__item:nth-of-type(4n+2) {
  grid-column: span 3;
}
.results__inner .results__item:nth-of-type(4n+3) {
  grid-column: span 3;
}
.results__inner .results__item:nth-of-type(4n+4) {
  grid-column: span 3;
}
.results__inner .results__item:nth-of-type(n+5) {
  margin-top: 30px;
}
.results__inner .results__item .heading-five {
  margin-top: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 1250px) {
  .solutions__title .btn__play {
    grid-row: 1;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .solutions__title .heading-one {
    grid-row: 2;
  }
  .solutions__title .solutions-title__icon {
    grid-row: 2;
  }
}
@media screen and (max-width: 1024px) {
  .solutions__info .solutions-info__left {
    margin-right: 0;
    grid-column: 2/12;
  }
  .solutions__info .solutions-info__right {
    grid-row: 3;
    grid-column: 2/12;
  }
  .results__inner .results__item:nth-of-type(3n+1) {
    grid-column: span 4;
  }
  .results__inner .results__item:nth-of-type(3n+2) {
    grid-column: span 4;
  }
  .results__inner .results__item:nth-of-type(3n+3) {
    grid-column: span 4;
  }
  .results__inner .results__item:nth-of-type(n+4) {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .results {
    display: none;
  }
  .solutions-top__bg {
    display: none;
  }
  .solutions__title {
    padding: 30px 20px 60px;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .solutions__title .btn__play {
    grid-column: span 4;
    grid-row: 1;
    margin-top: 0;
  }
  .solutions__title .heading-one {
    grid-column: span 4;
    grid-row: 2;
    margin-top: 30px;
  }
  .solutions__title .solutions-title__icon {
    grid-column: span 4;
    grid-row: 3;
    max-width: 110px;
    justify-self: center;
    margin-top: 30px;
  }
  .solutions__info {
    padding: 50px 20px 70px;
    margin: 0;
    background: #e3e9ee;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .solutions__info .heading-two {
    grid-column: span 4;
    grid-row: 1;
  }
  .solutions__info .solutions-info__left {
    grid-column: span 4;
    grid-row: 2;
  }
  .solutions__info .solutions-info__right {
    grid-column: span 4;
    grid-row: 3;
  }
  .solutions__info .paragraph {
    font: 400 1.8rem/130% "Montserrat", sans-serif;
  }
  .solution__points {
    padding: 50px 20px 130px;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .solution__points .heading-two {
    grid-column: span 4;
  }
  .solution__points .solution-point:nth-of-type(n) {
    grid-column: span 4;
    grid-row: span 1;
  }
  .solution__points .solution-item {
    min-height: 120px;
    padding: 20px 50px;
  }
  .results__inner {
    grid-template-columns: repeat(4, 1fr);
  }
  .results__inner .heading-three {
    grid-column: span 4;
  }
  .results__inner .results__item:nth-of-type(n) {
    grid-column: span 4;
  }
  .results__inner .results__item:nth-of-type(n+2) {
    margin-top: 20px;
  }
  .results__inner .results__item {
    text-align: center;
  }
}
.equipment__title {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 90px 60px 70px;
  overflow: hidden;
}
.equipment__title .heading-one {
  grid-column: 2/7;
}
.equipment__title .btn__play {
  grid-column: -3/-1;
  justify-self: end;
}

.equipment__info {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 30px;
  max-width: 1440px;
  margin: 0 auto 170px;
  padding: 0 60px;
  overflow: hidden;
}
.equipment__info .equipment-info__main {
  grid-column: 2/7;
  grid-row: 1;
}
.equipment__info .equipment-info__picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 66px 120px;
  align-self: start;
  grid-column: 7/13;
  grid-row: 1;
  background: #e9f0f6;
}
.equipment__info .equipment-info__text:nth-last-of-type(2) {
  grid-column: 2/7;
  grid-row: 2;
}
.equipment__info .equipment-info__text:nth-last-of-type(1) {
  grid-column: 7/13;
  grid-row: 2;
}
.equipment__info .heading-two {
  margin-bottom: 30px;
}

.equipment-item__img {
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
  .equipment__title {
    padding: 30px 20px;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
  .equipment__title .btn__play {
    grid-column: span 4;
    grid-row: 1;
    margin-top: 0;
  }
  .equipment__title .heading-one {
    grid-column: span 4;
    grid-row: 2;
    margin-top: 30px;
  }
  .equipment__info {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    padding: 20px 20px 130px;
    margin: 0 auto;
  }
  .equipment__info .equipment-info__picture {
    grid-column: span 4;
    grid-row: 1;
  }
  .equipment__info .equipment-info__main {
    grid-column: span 4;
    grid-row: 2;
  }
  .equipment__info .equipment-info__text:nth-last-of-type(2) {
    grid-column: span 4;
    grid-row: 3;
  }
  .equipment__info .equipment-info__text:nth-last-of-type(1) {
    grid-column: span 4;
    grid-row: 4;
  }
  .equipment__info .paragraph {
    font: 400 1.8rem/130% "Montserrat", sans-serif;
  }
  .equipment__info .equipment-info__picture {
    padding: 20px;
  }
}
.slide-stroke-wave,
.slide-stroke-hor,
.slide-stroke-vert {
  stroke-dasharray: 1;
}