.footer
  display: flex
  align-items: center
  justify-content: center
  background: $white

.footer__inner
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-template-rows: repeat(3, auto)
  column-gap: $gap
  max-width: 1440px
  height: 100%
  width: 100%
  padding: 100px 60px 24px

.footer__office
  grid-column: 1 / 4
  grid-row: 1

.footer__menu
  grid-column: 4 / 7
  grid-row: 1

.footer__info
  grid-column: 7 / 10
  grid-row: 1

.footer__buttons
  grid-column: 11 / 13
  grid-row: 1
  justify-self: end

.to-top__block
  grid-column: -2
  grid-row: 2
  justify-self: center

.footer__copyright
  grid-column: 1 / 10
  grid-row: 3


.footer__logo
  display: block
  width: 161px
  margin-bottom: 40px

.main-address
  font: $bold 1.7rem/130% $montserrat
  margin-bottom: 20px

.show-map
  position: relative
  display: inline-flex
  align-items: baseline
  font: $semibold 1.6rem/110% $montserrat
  padding-bottom: 5px
  &::before
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 100%
    background-image: url(../img/dashed-border.svg)
    background-repeat: repeat-x
    background-position: bottom left
    opacity: 0
    transition: opacity .3s ease
  &.-active,
  &:hover
    &::before
      opacity: 1

.map-pointer
  margin-left: 5px

.footer__menu
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
  margin-top: 30px

.footer-menu__link
  position: relative
  display: flex
  align-items: center
  justify-content: flex-start
  font: $bold 1.4rem/1.7rem $montserrat
  letter-spacing: 0.03em
  color: $black
  text-transform: uppercase
  padding: 4px 0
  & + &
    margin-top: 12px
  &::before
    flex-shrink: 0
    content: ''
    width: 8px
    height: 8px
    border-radius: 50%
    background: $red
    margin-right: 15px
  &::after
    content: ''
    position: absolute
    left: 23px
    bottom: 0
    right: 0
    height: 100%
    background-image: url(../img/dashed-border.svg)
    background-repeat: repeat-x
    background-position: bottom left
    opacity: 0
    transition: opacity .3s ease
  &.-active,
  &:hover
    &::after
      opacity: 1

.footer__info
  padding-top: 30px

.footer-info__item
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
  & + &
    margin-top: 15px

.footer-info__name
  font: $regular 1.6rem/2rem $montserrat

.footer-info__phone,
.footer-info__time
  font: $bold 1.6rem/2rem $montserrat
  margin-top: 8px
  color: $black

.footer-info__email
  position: relative
  font: $regular 1.6rem/2rem $montserrat
  color: $red
  margin-top: 8px
  padding-bottom: 4px
  &::before
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 100%
    background-image: url(../img/dashed-border.svg)
    background-repeat: repeat-x
    background-position: bottom left
    opacity: 0
    transition: opacity .3s ease
  &.-active,
  &:hover
    &::before
      opacity: 1

.footer__social
  display: flex
  justify-content: center
  margin-top: 40px
  text-align: center

.social__link
  & + &
    margin-left: 18px
  &:hover .social__circle,
  &:focus .social__circle
    fill: $red

.social__circle
  fill: $black
  transition: all .2s ease



.to-top__block
  text-align: right

.footer__copyright
  font: $regular 1.4rem/130% $montserrat
  color: $gray3

@media screen and ( max-width: 767px )
  .footer__inner
    grid-template-columns: repeat(4, 1fr)
    column-gap: 16px
    padding: 60px 20px 15px
    & .footer__office
      grid-column: span 4
    & .footer__menu
      grid-column: span 4
      grid-row: 2
    & .footer__info
      grid-column: span 4
      grid-row: 3
    & .footer__buttons
      grid-column: span 4
      grid-row: 4
    & .to-top__block
      grid-column: span 4
      grid-row: 5
    & .footer__copyright
      grid-column: span 4
      grid-row: 6

  .footer__logo
    margin-bottom: 40px

  .main-address
    font: $bold 1.6rem/130% $montserrat

  .footer__menu
    margin-top: 60px

  .footer-menu__link
    font: $bold 1.4rem/1.7rem $montserrat
    letter-spacing: 0.03rem
    width: 100%
    padding: 10px 0
    & + &
      margin-top: 0
    &::after
      display: none

  .footer__info
    padding-top: 60px

  .footer__buttons
    margin-top: 70px
    justify-self: center

  .to-top__block
    width: 100%
    justify-self: end

  .to-top
    display: block

@media (min-width: 767px) and ( max-width: 1250px )
  .footer__inner
    padding: 60px 20px 20px
    column-gap: 16px

  .footer__office
    grid-column: span 4

  .footer__menu
    grid-column: span 5

  .footer__info
    grid-column: span 4

  .footer__buttons
    grid-column: span 9
    grid-row: 2
    justify-self: stretch
    display: grid
    align-items: center
    grid-template-columns: repeat(9, 1fr)
    column-gap: 16px
    & .btn__play
      grid-column: span 4
      justify-self: start
    & .footer__social
      grid-column: span 5
      justify-self: start

  .footer__social
    margin-top: 0
    