.header
  position: sticky
  top: 0
  display: flex
  align-items: center
  justify-content: center
  height: 120px
  background: $gray1
  z-index: 1

.header__inner
  display: grid
  grid-template-columns: repeat(12, 1fr)
  column-gap: 24px
  align-items: center
  justify-items: start
  max-width: 1440px
  height: 100%
  width: 100%
  padding: 0 60px

.header__logo
  max-width: 200px
  text-align: center
  grid-column-start: 1
  grid-column-end: 3

.logo__img
  display: block
  margin: auto

.logo__text
  margin-top: 10px
  color: $gray4
  font-size: 1.4rem
  font-weight: $medium
  line-height: 1.7rem

.header__menu
  display: flex
  align-items: center
  justify-content: center
  height: 100%
  grid-column-start: 4
  grid-column-end: 9


.header-menu__link
  position: relative
  display: flex
  align-items: center
  justify-content: center
  height: 100%
  margin-left: 30px
  &:first-of-type
    margin-left: 0
  &.-active
    & .header-link__text
      color: $red
      // pointer-events: none
  &:hover,
  &.hovered
    & .header-link__text
      &::before
        opacity: 1

.header-link__text
  position: relative
  font: $bold 1.4rem/1.7rem $montserrat
  color: $black
  text-transform: uppercase
  padding: 4px 0
  &::before
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 100%
    background-image: url(../img/dashed-border.svg)
    background-repeat: repeat-x
    background-position: bottom left
    opacity: 0
    transition: opacity .3s ease



.header__info
  grid-column-start: 9
  grid-column-end: 12

.info__block
  display: flex
  align-items: center
  & + &
    margin-top: 10px

.info__name
  font: $semibold 1.2rem $montserrat
  min-width: 100px

.info__content,
.info__content a
  font: $bold 1.4rem $montserrat
  color: $black

.info__content
  margin-left: 10px

.header__profile
  justify-self: center
  grid-column-start: 12
  grid-column-end: 13
  & svg
    fill: transparent
    transition: all .3s ease
    & path
      transition: all .3s ease
    &:hover
      fill: $red
      & path
        fill: $white
      & circle
        stroke-dasharray: 0
        stroke: $red

.header__mob
  display: none

@media screen and ( max-width: 767px ), screen and ( hover: none)
  .header
    height: 60px
    position: sticky
    top: 0
    z-index: 1

  .header__mob
    display: flex
    align-items: center
    justify-content: space-between
    padding-left: 20px
    width: 100%
    & .header-mob__logo
      display: flex
      height: 30px
      align-items: center
    & .logo__img
      height: 30px
    & .logo__text
      margin-top: 0
      margin-left: 16px

  .header__inner
    display: none

@media screen and ( max-width: 1400px )
  .header__logo
    grid-column-end: 4

  .header__menu
    grid-column-start: 4
    grid-column-end: 9

  .header-menu__link
    margin-left: 15px

  .header__info
    grid-column-start: 9
  
@media screen and ( max-width: 1250px )
  .header__inner
    padding: 0 20px

  .header__info
    display: none

  .header__logo
    grid-column: 1 / 4

  .header__menu
    grid-column: 4 / 12
  