body
  font-family: $montserrat
  color: $black

*:focus-visible
  outline: 2px dashed $red
  outline-offset: 5px

a
  text-decoration: none
  color: $red

.paragraph
  font: $regular 1.6rem/130% $montserrat
  & + &
    margin-top: 20px

ul
  margin: 20px 0
  padding-inline-start: 25px 
  & li
    font: $regular 1.6rem/130% $montserrat

ol
  margin: 20px 0
  padding-inline-start: 25px
  & li
    font: $regular 1.6rem/130% $montserrat  
  
.heading-one
  font: $semibold 4.8rem/115% $montserrat

.heading-two
  font: $semibold 3rem/120% $montserrat

.heading-three
  font: $bold 2.6rem/120% $montserrat
  text-transform: uppercase

.heading-four
  font: $semibold 2.3rem/120% $montserrat

.heading-five
  font: $semibold 2rem/120% $montserrat

.heading-six
  font: $bold 1.7rem/130% $montserrat

.paragraph-big
  font: $regular 1.8rem/130% $montserrat
  & + &
    margin-top: 20px

.heading-one,
.heading-two,
.heading-three,
.heading-four,
.heading-five,
.heading-six
  & + .paragraph
    margin-top: 20px

.paragraph
  & + .heading-one,
  & + .heading-two,
  & + .heading-three,
  & + .heading-four,
  & + .heading-five,
  & + .heading-six
    margin-top: 30px


@media screen and ( max-width: 767px )
  .heading-one
    font: $semibold 3.6rem/115% $montserrat

  .heading-two
    font: $semibold 2.6rem/120% $montserrat

  .heading-three
    font: $bold 2.2rem/120% $montserrat
    text-transform: uppercase

  .heading-four
    font: $semibold 2rem/120% $montserrat

  .heading-five
    font: $semibold 1.8rem/120% $montserrat

  .heading-six
    font: $bold 1.6rem/130% $montserrat

  .paragraph-big
    font: $regular 1.8rem/130% $montserrat
    & + &
      margin-top: 20px

  .paragraph
    font: $regular 1.6rem/130% $montserrat
    & + &
      margin-top: 20px