.btn__play,
.btn__arrow
  position: relative
  display: inline-flex
  align-items: center
  justify-content: center
  height: 55px
  font: $semibold 1.4rem $montserrat
  color: $red
  border: none
  transition: color .3s ease, background .3s ease
  background-color: transparent
  white-space: nowrap
  cursor: pointer
  background-image: repeating-linear-gradient(0deg, #828282, #828282 2px, transparent 2px, transparent 4px, #828282 4px), repeating-linear-gradient(90deg, #828282, #828282 2px, transparent 2px, transparent 4px, #828282 4px), repeating-linear-gradient(180deg, #828282, #828282 2px, transparent 2px, transparent 4px, #828282 4px), repeating-linear-gradient(270deg, #828282, #828282 2px, transparent 2px, transparent 4px, #828282 4px)
  background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px
  background-position: 0 0, 0 0, 100% 0, 0 100%
  background-repeat: no-repeat
  &:hover,
  &:focus
    background-color: $red
    background-image: none
    color: $white
    // border: 2px solid $red
    & .arrow__icon path
      fill: #fff

.btn__play
  padding: 0 10px 0 30px

.btn__arrow
  padding: 0 17px 0 30px

.play__icon
  margin-left: 15px

.arrow__icon
  margin-left: 13px
  & path
    fill: #e51a4b
    transition: fill .3s ease

.header-mob__btn
  position: relative
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  height: 60px
  width: 60px
  cursor: pointer
  &::before
    content: ''
    width: 24px
    height: 2px
    background: $red
    margin-bottom: 6px
  &::after
    content: ''
    width: 24px
    height: 2px
    background: $red
  &.-active
    &::before
      transform: rotate(45deg) translate3d(1px, 3px, 0px)
    &::after
      transform: rotate(-45deg) translate3d(2px, -4px, 0px)
      