.header__submenu
  display: none
  position: absolute
  top: 120px
  left: 0
  right: 0
  background: $gray1
  z-index: 1
  &:hover
    display: block

.header-menu__link
  &:hover + .header__submenu
    display: block

.header-submenu__wrapper
  display: grid
  grid-template-columns: repeat(12, 1fr)
  align-items: start
  column-gap: $gap
  min-height: 100px
  border-top: 1px solid $white
  padding: 35px 0
  &:first-of-type
    border-top-width: 2px
  &:hover
    background: $red
    & .heading-five
      color: $white
    & .submenu-link__circle
      border-color: $white
      &::after
        background: $white
    & .subitem__link
      color: $white
      &::before
        background-color: $white
      &:hover
        &::before
          background-color: transparent
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='16' fill='none'%3E%3Cpath fill='%23fff' d='M36.707 8.707a1 1 0 000-1.414L30.343.929a1 1 0 10-1.414 1.414L34.586 8l-5.657 5.657a1 1 0 001.414 1.414l6.364-6.364zM0 9h36V7H0v2z'/%3E%3C/svg%3E")
          width: 37px
          height: 16px
          border-radius: 0
          transform: translateX(calc(-100% + 3px))

.header-submenu__link
  grid-column: 4 / 8
  & .heading-five
    color: $black

.submenu-link__circle
  margin-top: -3px
  grid-column: 3 / 4
  justify-self: end
  display: flex
  align-items: center
  justify-content: center
  width: 30px
  height: 30px
  border-radius: 50%
  background: transparent
  border: 2px solid $red
  &::after
    content: ''
    background: $red
    width: 16px
    height: 16px
    border-radius: 50%

.header-link__subitems
  grid-column: 8 / 11
  display: flex
  align-items: flex-start
  justify-content: center
  flex-direction: column

.subitem__link
  position: relative
  display: inline-flex
  align-items: center
  font: $semibold 1.6rem $montserrat
  color: $black
  margin-left: 25px
  & + &
    margin-top: 10px
  &::before
    position: absolute
    left: -13px
    content: ''
    width: 3px
    height: 3px
    background: $black
    border-radius: 50%
    margin-right: 10px
