.form-section
  display: flex
  background: $gray1
  min-height: 640px
  overflow: hidden

.form__background
  flex-basis: 50%
  background-image: url('../img/form-bg.jpg')
  background-position: center bottom
  background-size: cover

.form
  flex-basis: 50%
  display: grid
  grid-template-columns: repeat(6, 1fr)
  column-gap: $gap
  row-gap: 20px
  grid-auto-flow: row
  max-width: calc(1440px / 2)
  padding: 50px 60px 50px 0
  align-content: center
  & .form__name,
  & .form-input__block,
  & .btn__arrow
    grid-column: 2 / 6
  & .btn__arrow
    justify-self: start
    & input
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      border: none
      background: none
      opacity: 0
      cursor: pointer
  & .heading-five
    grid-column: 2 / 6

.form__name
  font: $semibold 2rem/120% $montserrat

.form-input__block
  position: relative

.form-input__label
  position: absolute
  pointer-events: none
  left: 20px
  top: 23px
  font: $regular 1.6rem/130% $montserrat
  color: #4f4f4f
  transition: all .3s ease

.form__input,
.form__textarea
  font: $regular 1.6rem/130% $montserrat
  width: 100%
  padding-left: 20px
  padding-top: 18px
  border: 2px solid transparent
  &::placeholder
    opacity: 0
  &:focus-visible
    outline: none
  &:focus ~ .form-input__label,
  &:not(:placeholder-shown) ~ .form-input__label
    font: $regular 1.3rem/110% $montserrat
    top: 4px
  &.-error
    border-color: $red

.form__input
  height: 50px

.form__textarea
  padding-top: 22px

.form__arrow
  margin-left: 20px
  vertical-align: middle

.error-message
  position: absolute
  bottom: -15px
  color: $red
  font-size: 1.2rem

@media screen and ( max-width: 1250px )
  .form
    padding: 50px 0

@media screen and ( max-width: 767px )
  .form__background
    display: none

  .form
    padding: 50px 20px 40px
    flex-basis: 100%
    grid-template-columns: repeat(4, 1fr)
    column-gap: 16px
    & .form__name
      grid-column: span 4
    & .form-input__block
      grid-column: span 4
    & .btn__arrow
      grid-column: span 4
    & .heading-five
      grid-column: span 4