.-mob-menu
  overflow: hidden
  
.mob-menu
  display: none

.-mob-menu
  & .mob-menu
    display: block
    position: fixed
    left: 0
    right: 0
    top: 60px
    bottom: 0
    background: #fff
    overflow-y: auto
    user-select: none

.mob-menu__nav
  position: relative
  overflow: hidden
  height: auto

.mob-nav__item
  border-top: 1px solid #fff
  background: $gray1
  min-height: 60px
  overflow: hidden
  &.-back
    display: flex
    align-items: center
    justify-content: flex-start
    border: none
    width: 100%
    background: #fff
    padding-left: 20px
  &.-title
    display: flex
    align-items: center
    justify-content: flex-start
    background: $red
    padding-left: 20px
    font: $bold 1.8rem/2.2rem $montserrat
    color: $white
    text-transform: uppercase


.mob-nav__link
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  border: none
  background: none
  padding: 19px 20px
  font: $bold 1.8rem/2.2rem $montserrat
  color: $black
  text-transform: uppercase
  user-select: none
  &.-active
    & ~ .mob-menu__subnav
      transform: translateX(0)
    & ~ .subnav__list
      height: auto

.mob-menu__subnav
  position: absolute
  left: 0
  top: 0
  right: 0
  transform: translateX(100%)
  transition: transform .3s ease
  overflow: hidden
  & .mob-nav__link
    position: relative
    align-items: baseline
    justify-content: flex-start
    font: $semibold 1.8rem/120% $montserrat
    text-transform: none
  & .mob-subnav__circle
    display: flex
    align-items: center
    justify-content: center
    flex-shrink: 0
    width: 20px
    height: 20px
    border-radius: 50%
    background: transparent
    border: 2px solid $red
    margin-right: 15px
    &::after
      content: ''
      background: $red
      width: 10px
      height: 10px
      border-radius: 50%
      transition: background .4s ease
    
.subnav__list
  height: 0
  padding-left: 55px
  margin: 0
  list-style-position: inside

.subnav-list__item:last-of-type
  padding-bottom: 10px

.subnav-list__link
  display: inline-flex
  align-items: center
  min-height: 4rem
  font: $semibold 1.6rem $montserrat
  color: $black
  padding: 10px 0

.mob-menu__info
  padding: 40px 20px
  border-bottom: 1px solid $gray1

.mob-info__item
  display: flex
  align-items: baseline
  & + &
    margin-top: 30px

.info-item__name
  font: $medium 1.4rem/1.7rem $montserrat
  min-width: 120px

.info-item__phone,
.info-item__hours
  font: $bold 1.8rem/2.2rem $montserrat
  color: $black

.mob-menu__buttons
  display: grid
  grid-template-columns: repeat(4, 1fr)
  column-gap: 16px
  align-items: center
  padding: 30px 20px
  & .header__profile
    grid-column: span 1
  & .btn__play
    grid-column: span 3
    justify-self: end