.slider__bullets
  display: flex
  align-items: center
  justify-content: center
  flex-basis: 112px
  margin-top: 55px
  & .slider-control__bullets
    flex-direction: column

.slider__body
  flex: 1

.slider__top
  display: grid
  grid-template-columns: repeat(11, 1fr)
  align-items: center
  column-gap: $gap
  position: relative
  & .btn__play
    grid-column: -3 / -1
    justify-self: end

.slider__progress
  display: flex
  align-items: center
  grid-column: 1 / 12

.progress__line
  position: relative
  display: flex
  align-items: center
  height: 16px
  width: 100%
  margin: 0 20px
  background-image: url(../img/dashed-line-hor.svg)
  background-repeat: repeat-x
  background-position: center left
  z-index: -1
  &::before
    content: ''
    position: absolute
    width: 8px
    height: 8px
    border-radius: 50%
    background: $gray4
    left: 0
    top: 50%
    transform: translate(-50%, -50%)
    z-index: -1
  &::after
    content: ''
    position: absolute
    width: 8px
    height: 8px
    border-radius: 50%
    background: $gray4
    right: 0
    top: 50%
    transform: translate(50%, -50%)
    z-index: -1

.progress__dot
  position: absolute
  width: 16px
  height: 16px
  background: $red
  border-radius: 50%
  left: 0
  top: 50%
  transform: translate(-50%, -50%)
  // transition: left 1s ease-in-out


.progress__left,
.progress__right
  font: $bold 1.7rem $montserrat
  white-space: nowrap

.slide
  height: 100%
  display: flex
  align-items: center
  justify-content: center

.slide__bg
  z-index: -1
  position: absolute
  left: 50%
  &.active-1
    bottom: 0
    transform: translate(-50%, 50%)
  &.active-2
    bottom: -100px
    transform: translate(-50%, 0)
  &.active-3
    bottom: -150px
    transform: translate(-50%, 0%)


.slide-bg__img
  display: none
  overflow: initial
  position: relative
  &.active
    display: block

.slide__grid
  display: grid
  grid-template-columns: repeat(11, 1fr)
  column-gap: $gap
  width: 100%

.slide-grid__left
  grid-column: 1 / 5
  align-self: center
  justify-self: start

.slide-grid__center
  grid-column: 5 / 7
  align-self: center
  justify-self: center

.slide-grid__right 
  grid-column: 8 / 12
  align-self: center
  justify-self: end

.slide__arrow
  grid-column: 1
  grid-row: 2
  margin-top: 40px
  & img
    transition: all .3s ease
  &:hover
    & img
      transform: translateX(15px)

.arrow__img
  display: block

.slide__name
  font: $semibold 6rem/100% $montserrat

.slide__icon
  width: 220px

.slide-info__text
  font: $semibold 3rem/100% $montserrat

.slide-info__accent
  font: $bold 13rem/100% $montserrat

.slider__control
  position: relative

.slider-control__arrows
  display: flex
  align-items: center
  justify-content: space-between
  height: 56px
  background: #dce3ea

.slider-control__prev,
.slider-control__next
  display: flex
  align-items: center
  justify-content: center
  height: 100%
  padding: 0 $gap
  background: transparent
  transition: background .3s ease
  border: none
  cursor: pointer
  &:hover
    background: $gray1
  &:disabled
    filter: grayscale(100%)
    opacity: 0.2
    pointer-events: none

.slider-control__prev
  transform: rotate(180deg)

.slider-control__bullets
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  width: 100%

.slider-control__bullet
  display: flex
  align-items: center
  justify-content: center
  width: 30px
  height: 30px
  cursor: pointer
  &::before
    content: ''
    width: 10px
    height: 10px
    background: $gray2
    border-radius: 50%
    transition: background .3s ease
  &:hover:before
    background: $red
  &.-active
    cursor: default
    &::before
      background: $red

.gallery__inner
  display: grid
  grid-template-columns: repeat(12, 1fr)
  column-gap: $gap
  max-width: 1440px
  margin: 0 auto
  padding: 90px 60px 40px
  & .heading-three
    margin-left: 0
    grid-column: 2 / 7
    grid-row: 1
    margin-bottom: 60px
  & .splide__track
    grid-column: span 12
    grid-row: 2
  & .slider-control__arrows
    margin-top: 40px
    grid-column: -4 / -1
    grid-row: 3
  & .splide__pagination
    grid-row: 4
  
.gallery__body
  display: flex

.gallery__item
  display: flex
  justify-content: center
  align-items: center
  height: 280px

.gallery__img
  height: auto
  max-height: 100%
  max-width: 100%
  object-fit: contain
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.15)

.gallery__control
  display: grid
  grid-template-columns: repeat(12, 1fr)
  column-gap: $gap
  max-width: 1440px
  & .slider__control
    grid-column: -4 / -1
    & .slider-control__arrows
      border: none
      background: #ced8e0

.history__inner
  display: grid
  grid-template-columns: repeat(12, 1fr)
  column-gap: $gap
  max-width: 1440px
  margin: 0 auto
  padding: 90px 60px 40px
  & .heading-three
    margin-left: 0
    grid-column: 2 / 7
    grid-row: 1
    margin-bottom: 60px
  & .splide__track
    grid-column: span 12
    grid-row: 2
    overflow: initial
    max-width: 100%
  & .slider-control__arrows
    margin-top: 40px
    grid-column: -4 / -1
    grid-row: 3
  & .splide__pagination
    grid-row: 4

.history__inner
  // & .splide__track
  &::after
    content: ''
    position: absolute
    right: 0
    display: flex
    align-items: center
    height: 16px
    margin-top: 15px
    margin-bottom: 10px
    margin-right: -24px
    background-image: url(../img/dashed-line-hor.svg)
    background-repeat: repeat-x
    background-position: center left

.history__timeline
  display: flex
  align-items: center
  position: relative
  height: 16px
  margin-top: 15px
  margin-bottom: 10px
  margin-right: -24px
  background-image: url(../img/dashed-line-hor.svg)
  background-repeat: repeat-x
  background-position: center left
  &:before
    content: ''
    width: 0
    height: 0
    border-radius: 50%
    background: #828282
    transition: all .3s ease .3s
  &:after
    content: ''
    height: 2px
    width: 100%
    background: $red
    transition: all .3s ease

.history__item.is-active,
.history__item.is-active ~ .history__item
  & .history__timeline
    &:after
      width: 0
    &:before
      content: ''
      width: 8px
      height: 8px
      border-radius: 50%
      background: #828282
      transition: all .3s ease


.history__item.is-active
  & .history__timeline
    &:before
      transform: scale(2)
      background: $red

.history__date
  min-height: 80px

.date__year
  font: $semibold 4.8rem/115% $montserrat
  color: $red

.date__month
  font: $regular 1.8rem/130% $montserrat
  color: #698395

.history__info
  & .heading-five
    margin-bottom: 15px

.splide__pagination
  grid-column: -4 / -1
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  width: 100%
  padding: 0

.splide__pagination__page
  display: flex
  align-items: center
  justify-content: center
  width: 30px
  height: 30px
  cursor: pointer
  border: none
  background: none
  &::before
    content: ''
    width: 10px
    height: 10px
    background: $gray2
    border-radius: 50%
    transition: background .3s ease
  &:hover:before
    background: $red
  &.is-active
    cursor: default
    &::before
      background: $red

@media screen and ( max-width: 1400px )
  .slide__name
    font-size: 5.4rem

@media screen and ( max-width: 1250px )
  .history__inner,
  .gallery__inner
    padding: 50px 20px 20px
    & .heading-three
      grid-column: 2 / 13
    & .slider-control__arrows,
    & .splide__pagination
      grid-column: -6 / -1
      justify-self: end
      min-width: 312px
      width: auto

  .slide__name
    font-size: 4rem

  .slide-info__accent
    font-size: 10rem

  .slide__arrow
    grid-column: 1 / 12

@media screen and ( max-width: 1000px )
  .slide__name
    font-size: 2.5rem

  .slide-info__text
    font-size: 2.5rem

  .slide-info__accent
    font-size: 6rem
  
  .slide__icon
    width: 160px

  

@media screen and ( max-width: 767px )
  .slide__bg
    display: none

  .slider__bullets
    flex-basis: auto
    & .slider-control__bullets
      flex-direction: row

  .slide__grid
    height: 100%
    grid-template-columns: repeat(4, 1fr)
    column-gap: 16px
    & .slide-grid__left
      align-self: auto
      justify-self: auto
      grid-column: span 4
      grid-row: 2
    & .slide-grid__right
      align-self: auto
      justify-self: auto
      grid-column: span 4
      grid-row: 3
      margin-top: 20px
    & .slide-grid__center
      justify-self: center
      grid-column: 2 / 4
      grid-row: 1
    & .slide__arrow
      grid-column: span 4
      grid-row: 4
      align-self: end

  .slide__icon
    width: 110px

  .slide__name
    margin-top: 15px
    font: $semibold 3.8rem/100% $montserrat

  .slide-info__text
    font: $medium 2.4rem/100% $montserrat

  .slide-info__accent
    font: $bold 9rem/100% $montserrat

  .gallery__inner
    padding: 50px 20px 20px
    grid-template-columns: repeat(4, 1fr)
    & .heading-three
      grid-column: span 4
      margin-bottom: 50px
    & .splide__track
      width: 100%
      grid-column: span 4
      overflow: hidden
      margin-left: -20px
      margin-right: -20px
      padding-top: 20px
      padding-bottom: 20px
    & .slider-control__arrows
      grid-column: span 4
      margin-top: 50px
      min-width: 312px
      justify-self: center
    & .splide__pagination
      grid-column: span 4
      justify-self: center
      width: 100%


  .history__inner
    padding: 50px 20px 20px
    grid-template-columns: repeat(4, 1fr)
    & .heading-three
      grid-column: span 4
      margin-bottom: 50px
    & .splide__track
      grid-column: span 4
      overflow: hidden
      margin-left: -20px
      margin-right: -20px
      padding-top: 20px
      padding-bottom: 20px
      max-width: initial
    & .slider-control__arrows
      grid-column: span 4
      margin-top: 50px
      min-width: 312px
      justify-self: center
    & .splide__pagination
      grid-column: span 4
      justify-self: center
      width: 100%

  
  .history__timeline
    margin-right: -40px