.tabs-section
  position: relative

.tabs__grid
  display: grid
  grid-template-columns: repeat(12, 1fr)
  column-gap: $gap
  max-width: 1440px
  margin: -56px auto 0
  padding: 0 60px
  overflow-x: auto

.tabs
  grid-column: 2 / 13
  display: flex

.tabs__prev,
.tabs__next
  display: none
  border: none

.tabs__item
  display: flex
  align-items: center
  justify-content: center
  padding: 0 35px
  height: 56px
  font: $semibold 2rem/120% $montserrat
  background: #b9c9d4
  color: $black
  transition: all .3s ease
  user-select: none
  cursor: pointer
  white-space: nowrap
  & + &
    margin-left: 2px
  &:hover,
  &.-active
    background: $red
    color: $white

.panels__wrapper
  position: relative
  background: #e3e9ee
  border-top: 4px solid $red
  overflow: hidden

.panels
  padding: 64px 0 87px

.panel
  display: none
  grid-template-columns: repeat(12, 1fr)
  column-gap: $gap
  max-width: 1440px
  padding: 0 60px
  margin: 0 auto
  & .panel__text
    grid-column: 2 / 8
    & .heading-four
      margin-bottom: 30px
    & ul
      margin: 20px 0
      padding-inline-start: 25px
      & li
        font: $regular 1.6rem/130% $montserrat
  & .panel-properties
    grid-column: 8 / 13
  &.-active
    display: grid

.panel-property
  margin-bottom: 38px

.panel-property__title
  display: flex
  align-items: center

.panel-property__body
  margin-left: 112px
  & + &
    margin-top: 20px

.panel-property__icon
  display: flex
  align-items: center
  justify-content: center
  width: 40px
  height: 40px
  background: $gray2
  border-radius: 50%
  font: $semibold 3rem $montserrat
  color: $white
  margin-left: 48px
  user-select: none

.panel-property__name
  font: $bold 1.7rem/130% $montserrat
  color: $gray3
  margin-left: $gap

@media screen and ( max-width: 767px )
  .tabs__grid
    grid-template-columns: 55px auto 55px
    column-gap: 2px
    padding: 0
    & .tabs__prev
      grid-column: 1
    & .tabs__next
      grid-column: 3
    & .tabs
      grid-column: 2
    & .tabs__item
      flex-basis: 100%
  .tabs__item
    display: none
    cursor: default
    & + &
      margin-left: 0
    &.-active
      display: flex

  .tabs__prev,
  .tabs__next
    display: flex
    align-items: center
    justify-content: center
    background: $gray1
    user-select: none
    cursor: pointer
    & .tabs__arrow
      width: 36px
    &.-disabled
      pointer-events: none
      filter: grayscale(100%)
      opacity: 0.6

  .tabs__prev
    & .tabs__arrow
      transform: rotate(180deg)

  .panels__wrapper
    padding: 45px 20px 75px

  .panels
    padding: 0

  .panel
    padding: 0
    grid-template-columns: repeat(4, 1fr)
    column-gap: 16px
    & .panel__text
      grid-column: span 4
      grid-row: 1
    & .panel-properties
      grid-column: span 4
      grid-row: 2
      margin-top: 60px
    
  .panel-property
    margin-bottom: 0
    & + &
      margin-top: 50px

  .panel-property__icon
    margin-left: 0

  .panel-property__body
    margin-left: 64px