.about__title
  position: relative
  overflow: hidden

.about__bg
  position: absolute
  left: 50%
  transform: translate(-50%, -20px)
  z-index: -1

.about__grid
  display: grid
  grid-template-columns: repeat(12, 1fr)
  column-gap: $gap
  row-gap: 100px
  max-width: 1440px
  margin: 90px auto 0
  padding: 0 60px
  & .heading-one
    grid-column: 2 / 7
  & .btn__play
    grid-column: -3 / -1
    justify-self: end
  & .about__text
    grid-column: 2 / 7
    grid-row: 2
    align-self: center
    margin-bottom: 20px
    & .paragraph
      margin-top: 30px
  & .about__logo
    grid-column: 7 / 13
    grid-row: 2
    align-self: end

.about-logo__img
  display: block
  max-width: 100%
  width: 100%
  

.history
  position: relative
  overflow: hidden

.gallery
  background: #e3e9ee
  overflow: hidden 
  & .splide__track
    overflow: initial

@media screen and ( max-width: 767px )
  .about__bg
    display: none

  .about__grid
    padding: 30px 20px 75px
    margin: 0 auto
    grid-template-columns: repeat(4, 1fr)
    column-gap: 16px
    row-gap: 0
    & .btn__play
      grid-column: span 4
      grid-row: 1
      margin-top: 0
    & .heading-one
      grid-column: span 4
      grid-row: 2
      margin-top: 30px
    & .about__logo
      grid-column: span 4
      grid-row: 3
      margin: 50px 0
      justify-self: center
      & .about-logo__img
        max-width: 400px
    & .about__text
      grid-column: span 4
      grid-row: 4
      & .paragraph
        margin-top: 30px


