.equipment__title
  display: grid
  grid-template-columns: repeat(12, 1fr)
  column-gap: $gap
  max-width: 1440px
  margin: 0 auto
  padding: 90px 60px 70px
  overflow: hidden
  & .heading-one
    grid-column: 2 / 7
  & .btn__play
    grid-column: -3 / -1
    justify-self: end

.equipment__info
  display: grid
  grid-template-columns: repeat(12, 1fr)
  column-gap: $gap
  row-gap: 30px
  max-width: 1440px
  margin: 0 auto 170px
  padding: 0 60px
  overflow: hidden
  & .equipment-info__main
    grid-column: 2 / 7
    grid-row: 1
  & .equipment-info__picture
    display: flex
    align-items: center
    justify-content: center
    padding: 66px 120px
    align-self: start
    grid-column: 7 / 13
    grid-row: 1
    background: #e9f0f6
  & .equipment-info__text:nth-last-of-type(2)
    grid-column: 2 / 7
    grid-row: 2
  & .equipment-info__text:nth-last-of-type(1)
    grid-column: 7 / 13
    grid-row: 2
  & .heading-two
    margin-bottom: 30px

.equipment-item__img
  max-width: 100%

@media screen and ( max-width: 1024px )
  .equipment__title
    padding: 30px 20px
    grid-template-columns: repeat(4, 1fr)
    column-gap: 16px
    & .btn__play
      grid-column: span 4
      grid-row: 1
      margin-top: 0
    & .heading-one
      grid-column: span 4
      grid-row: 2
      margin-top: 30px

  .equipment__info
    grid-template-columns: repeat(4, 1fr)
    column-gap: 16px
    padding: 20px 20px 130px
    margin: 0 auto
    & .equipment-info__picture
      grid-column: span 4
      grid-row: 1
    & .equipment-info__main
      grid-column: span 4
      grid-row: 2
    & .equipment-info__text:nth-last-of-type(2)
      grid-column: span 4
      grid-row: 3
    & .equipment-info__text:nth-last-of-type(1)
      grid-column: span 4
      grid-row: 4
    & .paragraph
      font: $regular 1.8rem/130% $montserrat

    .equipment-info__picture
      padding: 20px