.inner__line
  &.-items
    position: absolute
    left: -20px
    top: 105px
    // right: calc(50% + 1440px/2 - 60px - 88px + 8px)
    height: 2px
    background: url(../img/dashed-line-hor.svg)
    &::before
      content: ''
      position: absolute
      width: 16px
      height: 16px
      right: 0
      top: 50%
      border-radius: 50%
      background: $red
      transform: translate(50%, -50%)
  &.-title
    position: absolute
    top: -20px
    bottom: 100%
    right: 50%
    width: 2px
    background: url('../img/dashed-line-ver.svg')
    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 50%
      width: 16px
      height: 16px
      border-radius: 50%
      background: $red
      transform: translate(-50%, 50%)

.title-section
  position: relative
  overflow: hidden

.title-section__grid
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-template-rows: auto auto
  column-gap: $gap
  max-width: 1440px
  margin: 0 auto
  padding: 90px 60px 130px
  & .heading-one
    grid-column: 2 / 8
  & .btn__play
    grid-column: -3 / -1
    justify-self: end

.info-section
  position: relative
  background: #e3e9ee
  overflow: hidden

.info-section__grid
  display: grid
  grid-template-columns: repeat(12, 1fr)
  column-gap: $gap
  row-gap: 30px
  max-width: 1440px
  margin: 0 auto
  padding: 40px 60px 60px
  & .heading-two
    grid-column: 2 / 7
    grid-row: 1
  & .info-section__left
    grid-column: 2 / 7
    grid-row: 2
  & .info-section__right
    grid-column: 7 / 12
    grid-row: 2

.items-section
  position: relative
  overflow: hidden

.items-section__bg
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: -1

.items__bg
  height: 100%

.items-section__grid
  display: grid
  grid: auto repeat(5, 1fr) / repeat(12, 1fr)
  column-gap: $gap
  row-gap: 50px
  max-width: 1440px
  margin: 0 auto
  padding: 90px 60px 140px
  & .heading-three
    grid-column: 2 / 7
    grid-row: 1
    margin-left: 0
    max-width: none
  &.-equipment
    padding-bottom: 120px
    grid: auto repeat(6, 1fr) / repeat(12, 1fr)
  & .item:nth-of-type(3n+1)
    grid-column: 4 / 9
    grid-row: span 1
  & .item:nth-of-type(3n+2)
    grid-column: 6 / 11
    grid-row: span 1
  & .item:nth-of-type(3n+3)
    grid-column: 8 / 13
    grid-row: span 1
  & .item
    display: flex
    align-items: center
  & .item__name
    font: $semibold 3rem/120% $montserrat
    color: $black
    margin-left: 18px
  & .equipment__item:nth-of-type(3n+1)
    grid-column: 4 / 9
    grid-row: span 1
  & .equipment__item:nth-of-type(3n+2)
    grid-column: 6 / 11
    grid-row: span 1
  & .equipment__item:nth-of-type(3n+3)
    grid-column: 8 / 13
    grid-row: span 1
  & .equipment__item
    display: flex
    align-items: baseline
    padding-right: 55px
  & .equipment__name
    font: $semibold 2rem/120% $montserrat
    color: $black
    margin-left: 18px

.item
  & .item__name
    transition: all .3s ease
  &:hover
    & .item__name
      color: $red

.equipment__item
  & .equipment__name
    transition: all .3s ease
  &:hover
    & .equipment__name
      color: $red

.equipment__grid
  display: grid
  grid: repeat(6, auto) / repeat(12, 1fr)
  column-gap: $gap
  row-gap: 50px


.equipment__circle
  position: relative
  top: 2px
  justify-self: end
  display: flex
  align-items: center
  justify-content: center
  flex-shrink: 0
  width: 38px
  height: 38px
  border-radius: 50%
  background: transparent
  border: 2px solid $red
  transition: border-color .4s ease
  &::after
    content: ''
    background: $red
    width: 20px
    height: 20px
    border-radius: 50%
    transition: background .4s ease

@media screen and ( max-width: 1250px )
  .items-section__grid
    row-gap: 24px
    & .item__icon
      max-width: 60px
    & .item__name
      font: $semibold 2rem/100% $montserrat
      margin-left: 13px
      align-items: flex-start
    & .item:nth-of-type(3n+1)
      grid-column: 3 / 9
      grid-row: span 1
    & .item:nth-of-type(3n+2)
      grid-column: 5 / 11
      grid-row: span 1
    & .item:nth-of-type(3n+3)
      grid-column: 7 / 13
      grid-row: span 1
    &.-equipment
      & .equipment__item
        align-items: flex-start
        padding-right: 0
      & .equipment__item:nth-of-type(3n+1)
        grid-column: 3 / 9
        grid-row: span 1
      & .equipment__item:nth-of-type(3n+2)
        grid-column: 5 / 11
        grid-row: span 1
      & .equipment__item:nth-of-type(3n+3)
        grid-column: 7 / 13
        grid-row: span 1        
      & .equipment__circle
        top: 0
        width: 30px
        height: 30px
        &::after
          width: 15px
          height: 15px

@media screen and ( max-width: 767px )
  .inner__line
    &.-title
      display: none
    &.-items
      display: none

  .title-section__grid
    padding: 30px 20px 95px
    grid-template-columns: repeat(4, 1fr)
    column-gap: 16px
    & .heading-one
      grid-column: span 4
      grid-row: 2
      margin-top: 30px
    & .btn__play
      grid-column: span 4
      grid-row: 1

  .info-section__grid
    padding: 50px 20px 77px
    grid-template-columns: repeat(4, 1fr)
    column-gap: 16px
    & .heading-two
      grid-column: span 4
      grid-row: 1
    & .info-section__left
      grid-column: span 4
      grid-row: 2
    & .info-section__right
      grid-column: span 4
      grid-row: 3

  .items-section__bg
    display: none

  .items-section__inner,
  .items-section__inner.-equipment
    padding: 50px 20px 45px
    & .heading-three
      margin-bottom: 54px

  .items-section 
    & .items-section__grid,
    & .items-section__grid.-equipment
      grid-template: auto / repeat(4, 1fr)
      column-gap: 16px
      row-gap: 0
      padding: 50px 20px 45px
      & .heading-three
        margin-bottom: 55px
        grid-column: span 4
      & .item
        grid-column: span 4
        grid-row: auto
        align-items: flex-start
        & .item__icon
          max-width: 80px
      & .item__name
        font: $semibold 2.6rem/120% $montserrat
        margin-left: 13px
        align-items: flex-start
      & .equipment__item
        grid-column: span 4
        grid-row: auto
        padding-right: 0
      & .equipment__name
        font: $semibold 2.6rem/120% $montserrat

  .item + .item,
  .equipment__item + .equipment__item
    margin-top: 65px