.hero__slide
  position: relative
  min-height: 800px
  overflow: hidden
  &:nth-child(odd)
    background: $gray1
  &:first-of-type
    height: calc(800px - 120px)
    min-height: auto
  &.-map
    background: #f2f2f2

.hero-slide__inner
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-template-rows: auto 1fr
  column-gap: $gap
  position: relative
  max-width: 1440px
  height: 100%
  min-height: inherit
  margin: 0 auto
  padding: 80px 60px
  &.-main-slider
    grid-template-rows: auto 1fr
    padding-bottom: 0
    & .slider__top
      grid-column: 2 / 13
      grid-row: 1
    & .splide__track
      grid-column: 2 / 13
      grid-row: 2
      // overflow: initial
      max-width: 100%
    & .splide__pagination
      grid-column: span 1
      grid-row: 2
      flex-direction: column
    & .splide__list
      height: 100%

.hero-slide__inner
  &.-advantages
    & .heading-three
      grid-column: 2 / 6
      grid-row: 1
      margin-left: 0
      max-width: initial
    & .splide__track
      grid-column: span 12
      grid-row: 2
      align-self: center
    & .slider-control__arrows
      display: none
      background: transparent
      grid-column: -4 / -1
      grid-row: 3
    & .splide__pagination
      grid-column: -4 / -1
      grid-row: 4

.advantages__item
  display: flex
  flex-direction: column

.advantage__icon
  display: flex
  align-items: center
  justify-content: flex-end
  height: 90px
  margin-bottom: 40px
  margin-right: 15%

.advantage__name
  font: $semibold 2.3rem/120% $montserrat
  
.advantage__list
  margin: 40px 0 0 0
  padding: 0
  list-style-position: inside

.advantage-list__item
  font: $regular 1.8rem/130% $montserrat
  & + &
    margin-top: 15px

.advantages__control
  display: none


.hero-slide__inner
  &.-map
    grid-template-rows: auto auto 1fr
    align-items: center
    & .heading-three
      grid-column: 2 / 6
      grid-row: 1
      margin-left: 0
      max-width: initial
    & .map__all
      grid-column: 7 / 12
      grid-row: 2
    & .map
      grid-column: 2 / 8
      grid-row: 3
    & .map__belarus
      grid-column: 8 / 13
      grid-row: 3
      align-self: center


.map__img
  max-width: 100%

.map-paragraph__small
  position: relative
  display: inline-flex
  align-items: center
  font: $semibold 2rem/120% $montserrat
  padding-left: 24px

.map-paragraph__big
  font: $bold 8rem/8rem $montserrat
  text-indent: 24px

.map__bullet
  position: absolute
  left: 0
  display: block
  width: 15px
  height: 15px
  background: $red
  border-radius: 50%

.hero-slide__inner
  &.-solutions
    align-items: center
    & .heading-three
      grid-column: 2 / 13
      grid-row: 1
      margin-left: 0
      max-width: initial
    & .solutions__grid
      grid-column: span 12
      grid-row: 2

.solutions__grid
  display: grid
  grid-template-columns: repeat(12, 1fr)
  // grid-template-rows: repeat(6, 70px)
  grid-auto-rows: 70px
  column-gap: $gap
  row-gap: 16px
  margin-top: 50px

.solutions__item:nth-child(odd)
  grid-column: 7 / 12
  grid-row: span 2

.solutions__item:nth-child(even)
  grid-column: 2 / 7
  grid-row: span 2


.solutions__btn
  grid-column: -4 / -1
  grid-row: span 2
  align-self: end
  justify-self: end

.solutions__item
  display: grid
  grid-template-columns: repeat(5, 1fr)
  column-gap: $gap
  align-items: center
  background: transparent
  transition: background .4s ease, color .4s ease
  &:hover,
  &:focus
    background: $red
    & .solution__circle
      border-color: $white
      &::after
        background: $white
    & .solution__name
      color: $white

.solution__circle
  grid-column: 1 / 2
  justify-self: end
  display: flex
  align-items: center
  justify-content: center
  width: 38px
  height: 38px
  border-radius: 50%
  background: transparent
  border: 2px solid $red
  transition: border-color .4s ease
  &::after
    content: ''
    background: $red
    width: 20px
    height: 20px
    border-radius: 50%
    transition: background .4s ease

.solution__name
  grid-column: 2 / 6
  font: $semibold 2.3rem/120% $montserrat
  color: $black
  transition: all .4s ease

.hero__line.-advantages
  position: absolute
  left: 100%
  top: 95px
  right: 0
  height: 2px
  background: url('../img/dashed-line-hor.svg')
  &::before
    content: ''
    position: absolute
    width: 16px
    height: 16px
    border-radius: 50%
    background: $red
    top: 50%
    transform: translate(-50%, -50%)

.hero__line.-map
  position: absolute
  top: 0
  bottom: 100%
  right: 104px
  width: 2px
  background: url('../img/dashed-line-ver.svg')
  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 50%
    width: 16px
    height: 16px
    border-radius: 50%
    background: $red
    transform: translate(-50%, 50%)

.hero__line.-solutions
  position: absolute
  left: 0
  top: 95px
  width: 0
  height: 2px
  background: url(../img/dashed-line-hor.svg)
  &::before
    content: ''
    position: absolute
    width: 16px
    height: 16px
    right: 0
    top: 50%
    border-radius: 50%
    background: $red
    transform: translate(50%, -50%)
    
@media screen and ( max-width: 1250px )
  .hero__slide:first-of-type
    & .hero-slide__inner
      padding: 33px 20px 0

  .hero-slide__inner
    padding: 50px 20px 30px
    &.-main-slider
      & .slider__progress
        grid-column: 1 / 8
    &.-advantages
      & .heading-three
        grid-column: 2 / 7
      & .slider-control__arrows,
      & .splide__pagination
        display: flex
        grid-column: -6/-1
        justify-self: end
        min-width: 312px
        width: auto
    &.-map
      & .heading-three
        grid-column: 2 / 7
        margin-bottom: 40px
      & .map__all
        grid-column: 2 / 7
        grid-row: 2
      & .map__belarus
        grid-column: 7 / 12
        grid-row: 2
      & .map
        grid-column: 2 / 12
      & .map-paragraph__big
        font: $semibold 5rem/5rem $montserrat
    &.-solutions
      & .solutions__item:nth-child(odd)
        grid-column: 7 / 13
        grid-row: span 2
      & .solutions__item:nth-child(even)
        grid-column: 1 / 7
        grid-row: span 2
        


@media screen and ( max-width: 767px )
  .hero__slide
    height: auto
    min-height: auto
    &:first-of-type
      min-height: calc(100vh - 60px)
      height: auto
      & .hero-slide__inner
        padding: 33px 20px 50px

  .hero-slide__inner
    padding: 50px 20px 30px
    &.-main-slider
      grid-template-columns: repeat(4, 1fr)
      grid-template-rows: 1fr auto auto
      column-gap: 16px
      align-content: center
      & .slider__top
        display: flex
        grid-column: span 4
        grid-row: 3
        justify-self: center
        margin-top: 45px
        margin-bottom: 50px
      & .splide__track
        grid-column: span 4
        grid-row: 1
        overflow: initial
        align-self: stretch
      & .splide__pagination
        grid-column: span 4
        grid-row: 2
        flex-direction: row
        margin-top: 45px
      & .slider__progress
        display: none

  .hero__line
    &.-advantages
      display: none
    &.-map
      right: 20px
    &.-solutions
      display: none

  .hero-slide__inner
    &.-map
      grid-template-columns: repeat(4, 1fr)
      column-gap: 16px
      & .heading-three
        grid-column: span 4
        margin-bottom: 0
      & .map__all
        grid-column: span 4
        grid-row: 2
      & .map__belarus
        grid-column: span 4
        grid-row: 3
      & .map
        grid-column: span 4
        grid-row: 4
      & .map__all
        margin-top: 70px
      & .map-paragraph__big
        font: $bold 5.6rem/100% $montserrat
      & .map__belarus
        margin-top: 90px
      & .map
        margin-top: 70px
  

  .hero-slide__inner
    &.-advantages
      grid-template-columns: repeat(4 , 1fr)
      column-gap: 16px
      & .heading-three
        grid-column: span 4
      & .splide__track
        margin: 60px 0 25px
        grid-column: span 4
      & .splide__arrows
        grid-column: span 4
        justify-self: center
      & .splide__pagination
        grid-column: span 4
        justify-self: center


  .hero-slide__inner
    &.-solutions
      grid-template-columns: repeat(4, 1fr)
      column-gap: 16px
      & .heading-three
        grid-column: span 4
      & .solutions__grid
        grid-column: span 4
        margin-top: 60px
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: auto
        grid-auto-rows: auto
        column-gap: 16px
        row-gap: 0
        justify-items: start
        & .solutions__item
          grid-column: span 4
          display: flex
          width: 100%
          align-items: flex-start
          justify-content: flex-start
          column-gap: 20px
          & .solution__name
            font-size: 2rem
          &:hover,
          &:focus
            background: transparent
            & .solution__name
              color: $black
            & .solution__circle
              border-color: $red
              &::after
                background: $red
          & .solution__circle
            width: 30px
            height: 30px
            flex-shrink: 0
            &::after
              width: 16px
              height: 16px
        & .solutions__btn
          grid-column: 2 / 5
          margin-top: 60px

  .solutions__item
    & + &
      margin-top: 40px