.solutions__top
  position: relative
  overflow: hidden

.solutions-top__bg
  position: absolute
  left: 50%
  top: 0
  transform: translate(-50%, 0)

.solutions__title
  display: grid
  grid-template-columns: repeat(12, 1fr)
  column-gap: $gap
  max-width: 1440px
  padding: 54px 60px
  margin: 0 auto
  & .heading-one
    grid-column: 2 / 7
    margin-top: 36px
  & .solutions-title__icon
    width: 220px 
    grid-column: 8 / 10
  & .btn__play
    grid-column: 11 / 13
    justify-self: end
    margin-top: 28px

.solutions__info
  display: grid
  grid-template-columns: repeat(12, 1fr)
  column-gap: $gap
  row-gap: 30px
  max-width: 1440px
  margin: 0 auto 72px
  padding: 0 60px
  overflow: hidden
  & .heading-two
    grid-column: 2 / 7
    grid-row: 1
  & .solutions-info__left
    grid-column: 2 / 7
    grid-row: 2
    margin-right: 30px
  & .solutions-info__right
    grid-column: 7 / 12
    grid-row: 2

.solution__points
  display: grid
  grid-template-columns: repeat(12, 1fr)
  column-gap: $gap
  row-gap: 20px
  max-width: 1440px
  padding: 0 60px 128px
  margin: 0 auto
  & .heading-two
    grid-column: 2 / 7
    grid-row: 1
    margin-bottom: 13px
  & .solution-point:nth-of-type(6n+1)
    grid-column: 2 / 6
    grid-row: span 1
  & .solution-point:nth-of-type(6n+2)
    grid-column: 6 / 10
    grid-row: span 1
  & .solution-point:nth-of-type(6n+3)
    grid-column: 4 / 8
    grid-row: span 1
  & .solution-point:nth-of-type(6n+4)
    grid-column: 8 / 12
    grid-row: span 1
  & .solution-point:nth-of-type(6n+5)
    grid-column: 2 / 7
    grid-row: span 1
  & .solution-point:nth-of-type(6n+6)
    grid-column: 7 / 12
    grid-row: span 1
    
.solution-point
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  border: 2px solid $red
  min-height: 120px
  padding: 10px 50px

.results
  position: relative

.results__inner
  max-width: 1440px
  margin: 0 auto
  padding: 100px 60px 180px
  display: grid
  grid-template-columns: repeat(12, 1fr)
  column-gap: $gap
  overflow: hidden
  & .heading-three
    grid-column: 2 / 13
    margin-bottom: 90px
  & .results__item:nth-of-type(4n+1)
    grid-column: span 3
  & .results__item:nth-of-type(4n+2)
    grid-column: span 3
  & .results__item:nth-of-type(4n+3)
    grid-column: span 3
  & .results__item:nth-of-type(4n+4)
    grid-column: span 3
  & .results__item:nth-of-type(n+5)
    margin-top: 30px
  & .results__item
    & .heading-five
      margin-top: 40px
      padding-right: 40px

@media screen and ( max-width: 1250px )
  .solutions__title
    & .btn__play
      grid-row: 1
      margin-top: 0
      margin-bottom: 30px
    & .heading-one
      grid-row: 2
    & .solutions-title__icon
      grid-row: 2

@media screen and ( max-width: 1024px )
  .solutions__info
    & .solutions-info__left
      margin-right: 0
      grid-column: 2/12
    & .solutions-info__right
      grid-row: 3
      grid-column: 2/12

  .results__inner
    & .results__item:nth-of-type(3n+1)
      grid-column: span 4
    & .results__item:nth-of-type(3n+2)
      grid-column: span 4
    & .results__item:nth-of-type(3n+3)
      grid-column: span 4
    & .results__item:nth-of-type(n+4)
      margin-top: 30px
  

@media screen and ( max-width: 767px )
  .results
    display: none
    
  .solutions-top__bg
    display: none

  .solutions__title
    padding: 30px 20px 60px
    grid-template-columns: repeat(4, 1fr)
    column-gap: 16px
    & .btn__play
      grid-column: span 4
      grid-row: 1
      margin-top: 0
    & .heading-one
      grid-column: span 4
      grid-row: 2
      margin-top: 30px
    & .solutions-title__icon
      grid-column: span 4
      grid-row: 3
      max-width: 110px
      justify-self: center
      margin-top: 30px

  .solutions__info
    padding: 50px 20px 70px
    margin: 0
    background:#e3e9ee
    grid-template-columns: repeat(4, 1fr)
    column-gap: 16px
    & .heading-two
      grid-column: span 4
      grid-row: 1
    & .solutions-info__left
      grid-column: span 4
      grid-row: 2
    & .solutions-info__right
      grid-column: span 4
      grid-row: 3
    & .paragraph
      font: $regular 1.8rem/130% $montserrat

  .solution__points
    padding: 50px 20px 130px
    grid-template-columns: repeat(4, 1fr)
    column-gap: 16px
    & .heading-two
      grid-column: span 4
    & .solution-point:nth-of-type(n)
      grid-column: span 4
      grid-row: span 1
    & .solution-item
      min-height: 120px
      padding: 20px 50px

  .results__inner
    grid-template-columns: repeat(4, 1fr)
    & .heading-three
      grid-column: span 4
    & .results__item:nth-of-type(n)
      grid-column: span 4
    & .results__item:nth-of-type(n+2)
      margin-top: 20px
    & .results__item
      text-align: center